.home-bannar {
    position: relative;
    width: 100%;
    display: inline-block;
    overflow: hidden;
    height: 100vh;
}
.home-bannar video {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    /*height: 120vh;*/
    width: 100%;

}
.home-bannar img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    /*height: 120vh;*/
    width: 100%;

}
.home-bannar .bg{
    /*background-image: url(../img/bg_image.png);*/
    background-size: cover;
    background-color: transparent;
    height: 100vh !important;
    position: absolute;
    left: 0;
    top: 0;
}

.dp-block {
  display: block!important;
}

.buddy-regst-form.address .days-list .timeandday li {
  width: 100%;
}


.span_pseudo, .chiller_cb span:before, .chiller_cb span:after {
  content: "";
  display: inline-block;
  background: #fff;
  width: 0;
  height: 0.2rem;
  position: absolute;
  transform-origin: 0% 0%;
}

.chiller_cb {
  position: relative;
  height: 2rem;
  display: flex;
  align-items: center;
  top: -0px;
  left: 36px;
}
.chiller_cb input {
  display: none;
}
.chiller_cb input:checked ~ span {
  background: #fd2727;
  border-color: #fd2727;
}
.chiller_cb input:checked ~ span:before {
  width: 1rem;
  height: 0.15rem;
  transition: width 0.1s;
  transition-delay: 0.3s;
}
.chiller_cb input:checked ~ span:after {
  width: 0.4rem;
  height: 0.15rem;
  transition: width 0.1s;
  transition-delay: 0.2s;
}
.chiller_cb input:disabled ~ span {
  background: #ececec;
  border-color: #dcdcdc;
}
.chiller_cb input:disabled ~ label {
  color: #dcdcdc;
}
.chiller_cb input:disabled ~ label:hover {
  cursor: default;
}
.chiller_cb label {
  padding-left: 2rem;
  position: relative;
  z-index: 2;
  cursor: pointer;
  margin-bottom:0;
}
.chiller_cb span {
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  border: 2px solid #ccc;
  position: absolute;
  left: 0;
  transition: all 0.2s;
  z-index: 1;
  box-sizing: content-box;
}
.chiller_cb span:before {
  transform: rotate(-55deg);
  top: 1rem;
  left: 0.37rem;
}
.chiller_cb span:after {
  transform: rotate(35deg);
  bottom: 0.35rem;
  left: 0.2rem;
}

.professionals_edit_page.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  position: absolute !important;
  top: -19px !important;
  right: -5px !important;
  display: block !important;
}

.chosen-container .chosen-container-multi{
  width: 100% !important;
}
.chosen-container{
  width: 100% !important;
}
.amenitiesBlock{
  cursor: pointer;
}
.amenitiesBlock.active{
  border:1px solid red;
}
.social:hover .fa.fa-facebook-official{
  color: #3a5997;
}
.social:hover .fa.fa-linkedin-square{
  color: #2977c9;
}
.social:hover .fa.fa-google{
  color: #ea4335;
}
.social:hover .fa.fa-whatsapp{
  color: #1ebea5;
}.social:hover .fa.fa-twitter{
    color: #1da1f2;
}
.listPropertySteps .input-file{
  height: 100% !important;
}
#rent_sale_property_step_5 .remove{
      position: relative;
    top: -18px;
    right: -152px;
    font-size: 25px;
    top: -147px;
}
.pagination.pagination--left .pagination{
  display: inline-flex;
}
.customCursorClass{
  cursor: pointer;
}
.edit-icon{
  position: absolute;
  top: 5px;
  right: 5px;
}
.delete-icon{
  position: absolute;
  top: 30px;
  right: 5px;
  display: none;
}
.property-card.bg-white.rounded:hover .delete-icon{
  display: block;
}
.form-control.is-invalid, .was-validated .form-control:invalid{
  background-image: none;
}
/*.buddy-regst-form .form-control{
  margin-bottom: 10px;
}*/
.buddy-regst-form.address .form-control-div {
  margin-bottom: 30px;
}

.bannar-section.rent {
  background-image: url(/assets/img/landing-page/cospace/5.png) !important;
}

.bannar-section.travel {
  background-image: url(../img/travel-hd-min.jpeg) !important;
}
.more-filters{
  margin-top: 65px;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
  border-bottom: 2px solid transparent;
  border: 1px solid transparent;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
  border-color: #dee2e6 !important;
}

.cookiealert{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0 !important;
  z-index: 999;
  opacity: 0;
  border-radius: 0;
  transform: translateY(100%);
  transition: all 500ms ease-out;
  color: #ecf0f1;
  background: rgba(33, 35, 39, 0.91);
  font-size: 12px;
}
.cookiealert.show {
  opacity: 1;
  transform: translateY(0%);
  transition-delay: 1000ms;
}
.swal2-styled.swal2-confirm{
  background-color: rgb(228, 0, 43) !important;
  border-left-color: rgb(228, 0, 43) !important;
  border-right-color: rgb(228, 0, 43) !important;
  box-shadow: none !important;
}
.swal2-icon.swal2-success [class^=swal2-success-line]{
  background-color: rgb(228, 0, 43) !important;
}
.swal2-icon.swal2-success .swal2-success-ring{
  border: .25em solid rgb(228, 0, 43) !important;
}
.swal2-icon.swal2-info{
  border-color: red !important;
  color: red !important;
}
.checkbox-block .form-group input:checked + label:after{
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    left: 6px;
    width: 6px;
    height: 10px;
    border: solid red;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.home-bannar video{
	top: -20px;
}
.home-bannar img{
  /*top: -20px;*/
}
.listspace-price-tab-duration{
  background: #f0f4f6;
  border: 1px solid #ced7d9;
  padding: 10px!important;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 900;
  text-align: center;
  color: #5b6976;
}
.listspace-remover{
  float: right;
  position: absolute;
  right: 10px;
  top: 5px;
  cursor: pointer;
}
.private_office_repeat{
  border: 1px solid #e7edee;
  padding: 25px 40px!important;
  border-radius: 5px;
}
.special_amenity_check{
  filter: grayscale();
}
.special_amenity_check.active{
  filter: none;
}
.no_result_div{
  display: block;
  max-height: 60px;
  text-align: center;
  background-color: #d6e9c6;
  line-height: 4;
  width: 100%;
}
.no_result_div p{
  font-size: 16px;
  font-weight: 700;
}

.pagination .page-link {
  text-align: center;
    padding: 7px 0px !important;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  font-size: 1rem!important;
  font-weight: 700;
  margin: 0.3rem;
  /* display: inline-block; */
}
@media (max-width: 480px) {
  .pagination .page-link {
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    padding: 0.5rem;
  }
}
.pagination .page-link.current {
    color: #fff;
    background: #e4002b;
}
.pagination .page-link i {
  font-size: 1em;
  line-height: 0.8em;
}
.pagination a {
  color: #000;
  text-decoration: none;
  transition: all 0.4s;
}
.pagination a:hover {
  color: #fff;
  background: #00AAF1;
}
.pagination.pagination--left {
  justify-content: flex-start;
}
.pagination.pagination--center {
  justify-content: center;
}
.pagination.pagination--right {
  justify-content: flex-end;
}

img.file_prev{
  border-radius: 4px;
}
[class^='select2'] {
  border-radius: 0px !important;
}

.select2-selection__rendered {
  line-height: 40px !important;
}
.select2-container .select2-selection--single {
    height: 40px !important;
}
.select2-selection__arrow {
    height: 40px !important;
}

.amint-block.amint-block-no-br{
  border: none;
}

.red-like{
  color: #E4002B !important;
}
#available_dates .datepicker-inline{
  width: 100%
}
#available_dates .datepicker td, .datepicker th{
    border-radius: 50%;
    border: none;
    padding: 10px;
}
#available_dates .datepicker table tr td.active.active{
  background-color: #E4002B !important;
  background-image: linear-gradient(to bottom,#E4002B,#E4002B) !important;
}
.home_swap_tab #reportrange{
  background: #fff;
  cursor: pointer;
  border: 1px solid #ccc;
  width: 100%;
  height: 56px;
  text-align: center;
  line-height: 3;
}

.daterangepicker td.in-range{
  background-color: #ffb4a4 !important;
}

.daterangepicker td.active, .daterangepicker td.active:hover{
  background-color: #E4002B !important;
}
.cospace_accordion .collapsed .plus-sign{
  display: block;
}
.cospace_accordion .plus-sign{
  display: none;
}
.cospace_accordion .collapsed .minus-sign{
  display: none;
}

.cospace_accordion .minus-sign{
  display: block;
}
.cospace_accordion .card{
  margin-bottom: 10px;
}
.cospace_accordion .card h5{
  font-size: 16px;
}
.cospace_accordion .blog-card:hover .main-img {
  box-shadow:none !important;
}
.cospace_accordion .blog-card .main-img{
  border: 1px solid lightgray;  
}


.light-blue{
  text-transform: capitalize !important;
}

.mr-3,.mr-1 {
  text-transform: capitalize !important;
}

/*
.pac-container{
    top: 1611px !important;
  } */

.appartment-details a {
  color:black !important;
}

.our-membership p {
  font-size: 12px;
}



#sendc .error {
  color:red;
}


.chosen-container-multi .chosen-choices li.search-choice .search-choice-close{
      top: -10px !important;
}

.progress-line.fourth::after {
  width: 60%;
}

.progress-line.fifth::after {
  width: 80%;
}
