/*
Project Name: Gulf Road
CSS Author: Navneet
Contact No : +971 55 307 6620;
Author Designation: Web Designer
Framework Used: Bootstrap4
Organization: Code Brew Labs
*/


@media (min-width: 767px) {
  .home-bannar video {
    min-height: 100vh;
    top: -30px;
    width: auto;
  }
  .home-bannar img {
    min-height: 100vh;
    top: -30px;
    width: auto;
  }
  .intro-sec {
    margin: 0px 0px;
    padding: 0px!important;
  }
  div#register-popup .modal-body {
    padding: 30px 0!important;
  }
  .right_side-model {
    overflow: hidden;
  }
  .skipp-page-cls .modal-body {
    padding: 40px !important;
}
.bg-header {
    background-color: rgb(230 0 42)!important;
    padding: 8px 0 0 0;
}
.bannar-section .black-background .nav-link {
    background: rgba(105,105,105,0.33);
    margin-right: 6px;
    font-size: 12px;
    padding: .5rem 1rem;
    border-radius: 4px;
    border: none;
    margin-bottom: 12px;
}
.bannar-section .nav-item {
  width: 50%;
  display: inline-block;
}
.buy-tab.rent-tab .col-md-2.pr-0 {
  padding-right: 15px!important;
}
.buy-tab.rent-tab .col-md-8.pr-0.pl-0 {
    padding-left: 15px!important;
    padding-right: 15px!important;
}
.buy-tab .search-box {
    position: relative;
    margin-bottom: 15px;
    margin-top: 15px;
}
.search-box::after {
  display: none;
}
.buy-tab .search-box .search-icon {
    position: absolute;
    left: 15px;
    top: 18px;
}
.buy-tab input {
    position: relative;
    padding: 8px 10px 8px 45px;
    font-style: 14px;
}
.buy-tab.rent-tab .col-md-2.pl-0 {
  padding-left: 15px!important;
}
.buy-tab.rent-tab .col-md-3.mt-3.pr-0 {
  padding-right: 15px!important;
}
.buy-tab.rent-tab .col-md-6.text-right {
  text-align: left!important;
}
.more-filters .bg-white.p-4.full-width {
  widows: 97%!important;
}
.more-filters select, .more-filters input {
  margin-bottom: 15px;
}
.bannar-section .black-background .buy-tab button {
  min-width: 46%;
}
.normal-btn {
  margin-bottom: 12px;
  font-size: 13px;
}
.testimonial-block h6, .testimonial-block h4 {
  text-align: center!important;
}
.testimonial-block .owl-carousel .owl-item img {
  width: auto!important;
  margin: 0 auto!important;
  display: block!important;
}
.triangle1, .triangle2 {
  display: none;
}
.top-rated-buddies .owl-nav span {
    padding: 0px 16px 7px !important;
    font-size: 24px;
}
.top-rated-buddies .owl-nav .owl-next {
    right: 0px!important;
}
.top-rated-buddies .owl-nav .owl-prev {
    left: 0px!important;
}
}
