/*
Project Name: Gulf Road
CSS Author: Navneet
Contact No : +971 55 307 6620;
Author Designation: Web Designer
Framework Used: Bootstrap4
Organization: Code Brew Labs
*/
@media (max-width: 991px) {.col-md-6.about-cont-display {
    display: none;
}
.col-md-6.about-cont {
    max-width: 100% !important;
    flex: 100%;
}
}
@media (max-width: 767px) {

  
  .our-vision .img-fluid {
    margin-bottom: 15px;
  }
  .main-search .pl-0{
    padding-left: 15px!important;
  }
  .main-search {
    padding: 10px;
  }
  #aboutUsForm input {
    width: 100%!important;
    margin:10px 0;
  }
  #aboutUsForm button, #aboutUsForm .register-menu.list-property.red {
    width:100%;
  }
  .selectpicker.select-bord.bord-right {
    border:none!important;}
  .who-we-are-wrap .second {
    padding: 30px 0;
    background-image: none!important;
  }
  .who-we-are-wrap {
    background-image: none!important;
    padding: 30px 0;
  }
  .about-us-page h4 {
    font-size: 32px;
  }
  .show-more .red-bordered {
    padding: 10px;
    width: 100%;
  }
  #booking1 #phone_code, #booking #phone_code {
    margin-bottom: 12px;
  }
  #booking1 .pl-0 , #booking .pl-0  {
    padding-left:15px!important;
  }
  #booking1 .pr-0 , #booking .pr-0 {
    padding-right:15px!important;
  }
  .rating-and-review .enterreview {
    widows: auto!important;
    padding: 6px 12px!important;
  }
  .ratingsetting {
    border: 1px solid;
    border-radius: 33px;
    padding: 5px 11px;
    color: #008489 !important;
    display: inline-block;
    margin-bottom: 12px;
}
  #reportrange {
    max-width: 100%!important;
    width: 100%!important;

  }
  .first-two-box.with-calander li{
    width: 100%!important;
    margin-left: 0px!important;
  }
  .intl-tel-input #phone {
    width: 21.6em!important;
}
  .address.p-4 {
    padding:15px 0!important;
  }
  .buy-rent button {
    margin-bottom: 10px;
  }
  .distance-calculator button {
      position: relative!important;
      width: 100%!important;
  }
  .rtng-review .red-btn.enterreview {
    width: auto!important;
    padding: 6px 12px;
  }
  .dynamicMapContent #map {
    height: 400px;
  }
  .first-two-box li:nth-child(1) {
    width: 62%;
    margin-right: 1%;
}
.first-two-box li:nth-child(2) {
    width: 34%;
    margin-right: 1%;
}
.first-two-box li:nth-child(3) {
    width: 29.3%;
    margin-right: 1%;
}
.first-two-box li:nth-child(4) {
    width: 30%;
    margin-right: 1%;
}
.first-two-box li:nth-child(5) {
    width: 34%;
    margin-right: 1%;
}
  .outer-wrap-compare .pl-0 {
    padding-left: 15px!important;
  }
   .outer-wrap-compare .pr-0 {
    padding-right: 15px!important;
  }
 .nav-item.dropdown.ml-3.left-right-border.location-block {
  border: none!important
  ;
 }
  .body-light-grey .col-md-4.pl-0 {
    padding-left: 15px!important;
  }
  .register-menu {
    text-align: center;
  }
  .inner-header {
    padding: 15px 0;
    background: #fff;
    height: auto;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.11);
}
  .amenities .amint-block {
    min-width: auto!important;
    width: 100%;
    text-align: center;
  }
  .distance-calculator button {
    position: relative!important;
    width: 100%!important;
    margin-top: 15px!important;
  }
.input-daterange .pr-0{
  padding-right: 15px!important;
  margin-bottom: 12px;
}
.input-daterange .pl-0{
  padding-left: 15px!important;
}
#startDate {
  margin-bottom: 12px;  
}
  .landingpageBody {
    width: 100%;height: auto;overflow: scroll;
  }

  .home-bannar {
    position: relative;
    width: 100%;
    display: inline-block;
    overflow-y: hidden;
    /*height: auto;*/
}
.small-none{
  display: none;
}

.mobilesocialmedia ul li a{
  padding: 5px 15px;
}

.intro-sec-text h1 {
    font-size: 25px !important;
    color: #fff;
}

.mobilesocialmedia {
    margin: 40px 10px 20px 10px;
}

  .lp-footer-top-sec {
    padding: 60px 0;
  }
  .lp-bottom-bannar .red-bg .second-btn, .lp-bottom-bannar .red-bg .first-btn {
        font-size: 12px;
      padding: 6px 12px;
  }
  .lp-bottom-bannar .red-bg  {
    padding: 40px 15px;
  }
  .latest-swap-reviews {
    padding: 70px 0;
  }
  .contct-new-lp .p-4 {
    padding: 15px 0!important;
  }
  .lp-top-footer {
    padding: 20px 0px;
    margin: 0px;
  }
  .homepage.inner-header .container {
    background: #fff;
  }
  .small-full {
    width: 100%!important;
  }
  .small-mb-3 {
    margin-bottom: 12px!important;
  }
  .property-image-block .col-md-6.pl-0 {
    padding-left: 30px!important;
  }
  .property-image-block .col-md-6.pr-0 {
    padding-right: 15px!important;
  }
  .bannar-section {
    padding: 70px 0 50px 0;}
  .small-device-bg {
    background: #e53a32!important;
  }
  #google_translate_element2 {
    margin: 0 auto;
  }
  .header .nav-item.mr-4{
    margin-right:0px!important;
  }
.top-header.homepage {
  display: none;
}
 .black-background .pl-0 {
  padding-left: 15px!important;
  }
  .black-background .pr-0 {
  padding-right: 15px!important;
  }
  .small-mt-3 {
    margin-top: 12px;
  }
  .owl-nav button {
    display: none!important;
  }
  .blogs button {
    position: relative;
    top: 0;
}
  .home-bannar video {
    min-height: 100vh;
    top: -30px;
    width: auto;
  }
  .home-bannar img {
    min-height: 100vh;
    top: -30px;
    width: auto;
  }
  .intro-sec {
    margin: 0px 0px;
    padding: 0px!important;
  }
  div#register-popup .modal-body {
    padding: 30px 0!important;
  }
  .right_side-model {
    overflow: hidden;
  }
  .skipp-page-cls .modal-body {
    padding: 40px !important;
}
.bg-header {
    background-color: rgb(230 0 42)!important;
    padding: 8px 0 0 0;
}
.bannar-section .black-background .nav-link {
    background: rgba(105,105,105,0.33);
    margin-right: 6px;
    font-size: 12px;
    padding: .5rem 1rem;
    border-radius: 4px;
    border: none;
    margin-bottom: 12px;
}
.bannar-section .nav-item {
  width: 50%;
  display: inline-block;
}
.buy-tab.rent-tab .col-md-2.pr-0 {
  padding-right: 15px!important;
}
.buy-tab.rent-tab .col-md-8.pr-0.pl-0 {
    padding-left: 15px!important;
    padding-right: 15px!important;
}
.buy-tab .search-box {
    position: relative;
    margin-bottom: 15px;
    margin-top: 15px;
}
.search-box::after {
  display: none;
}
.buy-tab .search-box .search-icon {
    position: absolute;
    left: 15px;
    top: 18px;
}
.buy-tab input {
    position: relative;
    padding: 8px 10px 8px 45px;
    font-style: 14px;
}
.buy-tab.rent-tab .col-md-2.pl-0 {
  padding-left: 15px!important;
}
.buy-tab.rent-tab .col-md-3.mt-3.pr-0 {
  padding-right: 15px!important;
}
.buy-tab.rent-tab .col-md-6.text-right {
  text-align: left!important;
}
.more-filters .bg-white.p-4.full-width {
  widows: 97%!important;
}
.more-filters select, .more-filters input {
  margin-bottom: 15px;
}
.bannar-section .black-background .buy-tab button {
  min-width: 46%;
}
.normal-btn {
  margin-bottom: 12px;
  font-size: 13px;
}
.testimonial-block h6, .testimonial-block h4 {
  text-align: center!important;
}
.testimonial-block .owl-carousel .owl-item img {
  width: auto!important;
  margin: 0 auto!important;
  display: block!important;
}
.triangle1, .triangle2 {
  display: none;
}
.top-rated-buddies .owl-nav span {
    padding: 0px 16px 7px !important;
    font-size: 24px;
}
.top-rated-buddies .owl-nav .owl-next {
    right: 0px!important;
}
.top-rated-buddies .owl-nav .owl-prev {
    left: 0px!important;
}
}
