/* Font */

@font-face {
    font-family: 'SF UI Display';
    src: url('../fonts/SF-UI-Display-Light.otf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('../fonts/SF-UI-Display-Regular.otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('../fonts/SF-UI-Display-Medium.otf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('../fonts/SF-UI-Display-Semibold.otf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('../fonts/SF-UI-Display-Bold.otf');
    font-weight:bold;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('../fonts/SF-UI-Display-Heavy.otf');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'SF UI Display';
    src: url('../fonts/SF-UI-Display-Black.otf');
    font-weight: 900;
    font-style: normal;
}


body {
   background-position: top left;
  background: #fff;
  color: #444;
  font-family: 'SF UI Display';
  letter-spacing: .5px;
}

a {
    text-decoration: none !important;
    color: #E42627;
}
a:hover {
  color: #d20405;
}

.no-margin {
    margin: 0 auto !important;
}

.no-padding {
    padding: 0px!important;
}

.padded {
    padding: 15px !important;
}

.side-padding {
    padding: 0px 15px;
}

.no-side-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.no-border {
    border: none !important;
}

.no-bottom-border {
    border-bottom: none !important;
}

.mt-0 {
    margin-top: 0px !important;
}

.no-side-padding {
    padding: 15px 0px;
}

.no-pd-lft {
    padding-left: 0px;
}

.bottom-margin {
    margin-bottom: 15px;
}

.no-bt-margin {
    margin-bottom: 0px;
}

.top-margin {
    margin-top: 15px;
}

.middle-align {
    vertical-align: middle;
}

.display-none {
    display: none !important;
}
.full-width {
    width: 100%!important;
}
.list-inline li {
  list-style: none;
  display: inline-block;
}
.home-bannar {
    position: relative;
    width: 100%;
    display: inline-block;
    overflow: hidden;
    height: 100vh;
}
.home-bannar video {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    /*height: 120vh;*/
    width: 100%;

}
.home-bannar img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    /*height: 120vh;*/
    width: 100%;

}
.home-bannar .bg{
  /*background-image: url(../img/bg_image.png);*/
  background-size: cover;
  background-color: transparent;
  height: 100vh !important;
  position: absolute;
  left: 0;
  top: 0;
}

.h-100 {
  height: 100%!important;
}

.position-absolute {
  position: absolute!important;
}
.social a:hover {
  opacity: 1;
}
li.nav-item.posr {
  position: relative;cursor: pointer;
}
ul.dropdown-menu.ddm1s {
  background-color: #f04251;
  width: 100px;
  min-width: 120px;
}
ul.dropdown-menu.ddm1s a {
  text-transform: capitalize;
  width: 100%;
  display: block;cursor: pointer;
}
.nav-item.posr a:hover{
  color:#fff;
}
.dropdown-toggle::after{
  display: inline-block;
    margin-left: .255em;
    font-family: FontAwesome;
    font-weight: 100;
    content: "\f107";
    font-size: 17px;
    border: 0px;
    vertical-align: unset !important;
    position: relative;
    top: 2px;
}
ul.dropdown-menu.ddm1s a:hover{
  color:#fff;
  text-transform: underline;
}
.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.mr-0, .mx-0 {
  margin-right: 0!important;
}
.navbar {
  padding: 25px 0;
}
.navbar-nav .nav-link {
  color: #fff;    line-height: 34px;
  font-size: 14px;
  padding: .2rem .8rem .3rem;
  text-align: center;
}
.social a {
  cursor: pointer;
  font-size: 17px!important;
  padding: 2px 10px!important;
  /*opacity: 0.5;*/
}

.nav-item.posr a {
  color: #fff;
  margin: 0px 10px;line-height: 25px;font-size: 16px;
  letter-spacing: 1px;
}
.login-menu a{
  height: 41px;
  width: 112px;
  border: 1px solid #FFFFFF;
  text-align: center;
  line-height: 41px;
  color: #fff;  display: block;    margin: 0px 10px;
}
.register-menu a {
  height: 41px;color: #fff;
  width: 122px;
  border: 1px solid #FF4251;
  background-color: #FF4251;
  text-align: center;    margin: 0px 10px;
  line-height: 41px;    display: block;
}
.mpn{
  padding:0px;
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/
.intro-sec {
  padding: 16vh 0px 0 0;
  overflow: hidden;
}
.intro-sec-text h1 {
  font-size: 46px;
  color: #fff;
}
.intro-sec-text p {
  font-size: 18px;
  color: #fff;
  font-weight: 300;
  margin-top: 20px;
}
.intro-sec-text a {
  height: 40px;
  width: 136px;
  background-color: #FFFFFF;
  color: #0E0E0E;
  font-size: 16px;
  display: block;
  text-align: center;
  line-height: 42px;
  font-weight: 600;
  margin-top: 40px;
}
footer .nav-link.pointer {
  padding: 5px 50px 5px !important;
    font-size: 20px;
    height: 40px;
    line-height: 33px;
}
footer .nav-link.pointer:hover {
  background-color: #f04251;
}
path#fig:hover {
  fill: rgba(255,255,255) !important;
}

#Path-7:hover #home4{
display:block !important;
}
.mypopup {
  width: 150px;
    padding: 0;
    font-size: 10pt;
    border-radius: 6px;
    position: absolute;
    display: none;
    left: 42px;
    top: 100px;
    transition: .6s all;
}
#home1 {
  width: 100px;
  right: 142px!important;
  top: -52px;
  left: auto!important;
  z-index: 0;
}
#home2 {
  width: 100px;
  right: 75px!important;
  top: 1px;
  left: auto!important;
  z-index: 0;
}
#home3{
  width: 95px;
  right: 42px!important;
  top: 40px;
  left: auto!important;
  z-index: 0;
}
#home4{
  width: 100px;
  right: -29px!important;
  top: 80px;
  left: auto!important;
  z-index: 0;
}#home5 {
  width: 100px;
    right: -74px!important;
    top: 171px;
    left: auto!important;
    z-index: 0;
}.cls-1 {
  fill: rgba(255,255,255,.6);
  stroke: #fff;
  stroke-miterlimit: 10;
}path {
  transition: .6s fill;
  fill: #d3d3d3;
}
path:hover {
  fill: #f04251 !important;
  stroke: #fff;
}
#saudi:hover #fig {
  fill: #fff;
}
#fig{
  fill: rgba(255,255,255,.04);
  stroke: rgba(255,255,255,.04);
}
#saudiarab::before {
  content: "";
    width: 12px;
    height: 12px;
    border-radius: 50px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #fff;
    position: absolute;
    top: 19px;
    left: -5px;
    border: 3px solid rgba(0,0,0,0.7);
}
.mypopup h3{
  color: #fff;
    font-size: 22px;
    font-weight: 400!important;
    margin: 0 0 0 5px!important;
}
.line {
  width: 150px;
  background: #fff;
  height: 1px;
}.line {
  background: #e7e7e7;
  height: 1px;
  margin: 27px;
}.mpni {
  margin: 0 !important;
  padding: 0 !important;
}

.map-outter svg {
  width: 400px;
  float: right;
}
#home1 .line {
  width: 100px;
    background: #fff;
    height: 50px;
    background: url(../img/Line_Kuwait.svg);
    z-index: 999;
    background-repeat: no-repeat;
}#home1 img {
  position: absolute;
  left: -14px;
  top: -75px;
}
#home1::before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #fff;
  position: absolute;
  top: 19px;
  left: -5px;
  border: 3px solid rgba(0,0,0,0.7);
}
#home1 h3{
  color: #fff;
  font-size: 20px;
  font-weight: 400!important;
  margin: 0 5px 0 0!important;
  text-align:left;
}


#fig:hover #saudi{
  fill: #f04251 !important; 
}

#home2 h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 400!important;
  margin: 0 5px 0 0!important;
  text-align: right;
}
#home2::before {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #fff;
    position: absolute;
    top: 18px;
    left: 31px;
    border: 3px solid rgba(0,0,0,0.7);
}
#home2 .line {
  width: 100px;
  height: 50px;
  background: url(../img/Line_Bahrain.svg);
  z-index: 999;
  background-repeat: no-repeat;
}
#home2 img {
  position: absolute;
  top: -61px;
  right: 15px;
}


#home3 h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 400!important;
  margin: 0 5px 0 0!important;
  text-align: right;
}#home3::before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #fff;
  position: absolute;
  top: 19px;
  left: 35px;
  border: 3px solid rgba(0,0,0,0.7);
}
#home3 .line {
  width: 100px;
    height: 50px;
    background: url(../img/Line_Qatar.svg);
    z-index: 999;
    background-repeat: no-repeat;
}
#home3 img {
  position: absolute;
    top: -43px;
    right: 0;
}



#home4 h3 {
  color: #fff;
    font-size: 20px;
    font-weight: 400!important;
    margin: 0 5px 0 0!important;
    text-align: left;
}#home4::before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #fff;
  position: absolute;
  top: 19px;
  left: 38px;
  border: 3px solid rgba(0,0,0,0.7);
}
#home4 .line {
  width: 100px;
  height: 50px;
  background: url(../img/Line_UAE.svg);
  z-index: 999;
  background-repeat: no-repeat;
}
#home4 img {
  position: absolute;
  top: -126px;
  left: 0;
}


#home5 h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 400!important;
  margin: 0 5px 0 0!important;
  text-align: right;
  position: relative;
  top: -24px;
}#home5::before {
  content: "";
    width: 12px;
    height: 12px;
    border-radius: 50px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #fff;
    position: absolute;
    top: 38px;
    left: 56px;
    border: 3px solid rgba(0,0,0,0.7);
}
#home5 .line {
  width: 100px;
  height: 50px;
  background: url(../img/Line_Oman.svg);
  z-index: 999;
  background-repeat: no-repeat;
}#home5 img {
  position: absolute;
  bottom: 45px;
  left: 13px;
}




/* Signup page CSS */
.signup-page {
  background-image: url(../img/skyline.svg);
  background-size: contain;
  height: 100%;
  background-repeat: no-repeat;
    background-color: white;    background-position: bottom;
    padding: 40px;
}
.signup-page-outetr {
  margin: 40px 0px;
}

.close-icon:after {
  font-family: FontAwesome;
  content: "\00d7";
  font-size: 30px;
}
.signup-page-inner {
  width: 1000px;
  margin: 0 auto;max-width: 100%;
}
.signup-left h3 {
  color: #0E0E0E;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 50px;
  margin-top: 40px;
}
.signup-left h5 {
  color: #0E0E0E;
  font-size: 20px;
  margin-bottom: 30px;
}.signup-left ul {
  padding: 0px;
  list-style: none;
  width: 400px;
  max-width: 100%;
}.signup-left ul li {
  color: rgba(0,0,0,0.77);
  font-size: 16px;
  position: relative;
  padding-left: 26px;
  margin-bottom: 15px;
}.signup-left ul li:before {
  background: url(../img/ic_check_orange.svg);
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    background-repeat: no-repeat;
    left: 0px;
    background-size: 15px;
    top: 2px;
}
.signup-right {
  background: #fff;
  box-shadow: 0 2px 20px 0 rgba(0,0,0,0.11);
  padding: 40px;
}.signup-right h4 {
  color: #0E0E0E;
  font-size: 20px;
}.signup-right .hr {
  float: left;
  width: 100%;
}.signup-right .hr hr {
  width: 26px;
  border: 1.5px solid #FF4251;
  text-align: left;
  float: left;
  margin: 0px 0px 20px;
}
.signup-social-btn a img {
  margin-right: 7px;
}
.facebook-button {
  background-color: #4568B2;
    border: 1px solid #4568B2;
    color: #fff;
    margin-right: 20px;
}
.facebook-button:hover{
  color: #fff;
}
.google-button:hover{
  color: #0E0E0E;
}
.google-button {
  border: 1px solid rgba(0,0,0,0.11);
  color: #0E0E0E;
}.signup-social-btn {
  display: flex;
  width: 100%;
}.signup-social-btn a {
  height: 40px;
  width: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  text-transform: capitalize;
}
.group-field {
  margin-bottom: 15px;
}
.group-field input, select {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(0,0,0,0.11);
  color:rgba(0,0,0,0.77);
  font-size: 15px;
  padding: 0px 15px;background: #ffff;
  border-radius: 0px !important;
}
.group-field input::placeholder{
  color: rgba(0,0,0,0.44);
}
.group-field input:focus, .group-field input:active  {
  box-shadow: none !important;
  border: 1px solid #FF4251;
  outline: none !important;
}
.group-field select:focus, .group-field select:active  {
  box-shadow: none !important;
  border: 1px solid #FF4251;
  outline: none !important;
}

.Contact-code {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(0,0,0,0.11);
  color:rgba(0,0,0,0.77);
  font-size: 15px;
  padding: 7px 9px !important;
  position: relative;
  background: #fff;
  border-radius: 0px !important;
}.Contact-code select {
  border: none;
    background: #fff;
    color: #0E0E0E;
    font-size: 15px;
    font-weight: 400;
    -webkit-appearance: none;
    margin-left: 7px;
    position: relative;
    top: 2px;
    width: 53px !important;
    padding: 0px;
    height: auto;
}
.group-field select {
  -webkit-appearance: none;
  background: url(../img/down_black.svg);
  background-repeat: no-repeat;
  background-position: top 5px right 2px;
  background-size: 12px;
}
.signup-button a {
  width: 100%;
  height: 40px;
  background-color: #FF4251;
  display: block;
  text-align: center;
  line-height: 43px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 10px;
  -webkit-transition: .4s ease-in-out;
  -moz-transition: .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: .4s ease-in-out;
}
.signup-button a:hover {
  box-shadow: 0 4px 15px 0 rgba(0,0,0,0.32);
}
#login-popup .signup-right {
  padding: 20px;
}
#login-popup .signup-right .modal-body {
  padding: 10px 30px;
}
.forgot-password {
  float: right;
  color: #f04251;
}
#login-popup .signup-right .signup-button a {
  margin-top: 0px;
}
.ask_for_acc {
  margin-top: 20px;
  text-align: center;
  color: #0E0E0E;
  font-size: 15px;
}.ask_for_acc a {
  color: #f04251;
}
.or-opt {
  margin: 10px 0px;
}
.or-opt .col-md-5 {
  padding: 0px;
}
.or-opt span {
  text-align: center;
  font-size: 14px;
  color: #0E0E0E;
  display: block;
  line-height: 34px;
}
.mobilesocialmedia {
  margin: 30px 10px;
}
.mobilesocialmedia ul {
  padding: 0px;
  margin: 0 auto;
}

.mobilesocialmedia ul li {
  display: inline-block;
}
.mobilesocialmedia ul li a {
  color: #fff;
  padding: 5px 20px;
  margin: 5px;
  border-radius: 4px;
  display: inline-block;
  background-color: #f04150;
  height: 40px;
  line-height: 36px;
}



/* Start Checkbox CSS */

.container-checkbox {
  display: block;
    position: relative;
    padding-left: 27px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #0E0E0E;
}

.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.11);
}

.container-checkbox input:checked ~ .checkmark {
  background-color: #fff;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container-checkbox input:checked ~ .checkmark:after {
  display: block;
}

.container-checkbox .checkmark:after {
  left: 4px;
    top: 1px;
    width: 6px;
    height: 9px;
    border: solid #f04251;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.lname{
  background: #f04251;
  color: #fff;
  font-size: 14px;
  padding: 10px !important;
  width: 100%;
}
.mobilesocialmedia{
  display:none;
}
/* End Checkbox CSS */
.mobilemap{
  display:none;
}.oman {
  background: url(../img/Oman_sm.svg) 96% 10%/20% no-repeat;
}

.saudiarabia{
  background: url(../img/Saudi_sm.svg) 96% 10%/20% no-repeat;
}
.uae {
  background: url(../img/UAE_sm.svg) 96% 10%/20% no-repeat;
}
.quatar {
  background: url(../img/Qatar_sm.svg) 96% 10%/20% no-repeat;
}.kuwait {
  background: url(../img/Kuwait_sm.svg) 96% 10%/20% no-repeat;
}.bahrain {
  background: url(../img/Bahrain_sm.svg) 96% 10%/20% no-repeat;
}
.img-responsive2 {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: inline-block;
}
.innert{
  margin: 5px;
  overflow: hidden;
}.innert .col:first-child {
  border: .032rem solid #fff;
  border-radius: 4px 4px 0 0;
}


/******************* Register model css start here ***************/
div#register-popup .modal-dialog {
  width: 100%;
  max-width: 100%;
  margin: 0;
}
div#register-popup {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
div#register-popup .modal-body {
  padding: 30px 130px;
}
.modal-left_side ul {
  padding: 0;
  list-style: none;
  margin-top: 5px;
  padding-right: 110px;
}
.modal-left_side ul li img {
  padding-right: 12px;
  margin-top: 2px;
  display: inline-block;
  float: left;
}
div#register-popup span.close-icon {
  position: relative;
  left: 50px;
}
.modal-left_side h2 {
  color: #0E0E0E;
  font-size: 32px;
  font-weight: bold;
  line-height: 40px;
}
.signup-right .modal-left_side h4 {
  color: #0E0E0E;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  margin-top: 42px;
}
.modal-left_side ul li p {
  padding-left: 26px;
  color: rgba(0,0,0,0.77);
  font-size: 16px;
  line-height: 24px;
}
.right_side-model {
  padding: 30px 50px 10px;
  box-shadow: 0 2px 20px 0 rgba(0,0,0,0.11);
  background: #fff;
  z-index: 99999;
  position: relative;
}
.bottom_img {
  position: absolute;
  bottom: 0;
  z-index: 1;
  left: 0;
  right: 0;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}
.modal-content.signup-right {
  position: relative;
}


/******************* skip page css start here ********************/
a.skipp-section {
  float: right;
  padding-right: 50px;
  color: #E4002B;
  font-family: "Product Sans";
  font-size: 16px;
  letter-spacing: -0.1px;
  line-height: 19px;
  text-align: right;
}
i.fa.fa-arrow-right {
  font-size: 14px;
  font-weight: 400;
  padding-left: 2px;
}
.skipp-page-cls .modal-body {
  padding: 70px 50px !important;
}
.modal-left_side.skipp-left-bar h2 {
  padding-right: 62px;
  font-family: 'google_sansregular';
  line-height: 48px;
  letter-spacing: -0.2px;
}
.modal-left_side.skipp-left-bar p {
  color: rgba(14,14,14,0.55);
  font-size: 16px;
  font-family: 'google_sansregular';
  line-height: 24px;
  padding-right: 12px;
}
.modal1.skipp-page-cls .signup-right {
  box-shadow: none;
}
.box-section-skip h2 {
  color: #000000;
  font-size: 18px;
  font-family: 'google_sansregular';
  font-weight: bold;
  letter-spacing: -0.11px;
  line-height: 23px;
  margin: 25px 0;
}
.box-section-skip p {
  font-size: 16px;
  font-family: 'google_sansregular';
  line-height: 24px;
  text-align: center;
  color: rgba(14,14,14,0.55);
  padding: 0px 25px 40px;
}
.box-section-skip a {
  color: #E4002B;
}
button.btn.btn-large.button.skip-btn {
  background-color: #E4002B;
  width: 100%;
  border-radius: 0 0 4px 4px;
  color: #FFFFFF;
  font-size: 14px;
  font-family: 'google_sansregular';
  font-weight: bold;
  line-height: 17px;
  text-align: center;
  height: 52px;
}
.box-section-skip {
  box-shadow: 0 1px 8px 0 rgba(0,0,0,0.15);
  background-color: #FFFFFF;
  border-radius: 4px;
  padding: 30px 0px 0;
  margin-top: 53px;
}
.modal-left_side.skipp-left-bar img {
  margin-bottom: 23px;
}
button.btn.btn-large.button.skip-btn img {
  vertical-align: text-top;
}



/******************* skip page css end here ********************/

/********************** Home Page css start Here *********************/

.top_header {
  background-color: rgba(228, 0, 43, 0.45098039215686275);
  padding: 0px 0;
  height: 48px;
  line-height: 48px;
  z-index: 99999;
  position: relative;
}
.home_top-head {
  text-align: left;
  display: inline-block;
}
.social_icons {
  display: inline-block;
}
.social_icons img {
  margin: 0 7px;
}
button.btn.btn-large.home_lons {
  border: 1px solid #FAFAFA;
  border-radius: 2px;
  color: #FFFFFF;
  font-size: 12px;
  font-family: 'google_sansregular';
  line-height: 16px;
  margin-right: 22px;
}

button.btn.btn-large.price_btn {
  background-color: #FFFFFF;
  border-radius: 2px;
  color: #0E0E0E;
  font-size: 12px;
  font-family: 'google_sansregular';
  line-height: 16px;
  margin-right: 12px;
}
.bg_bk {
  background-image: url(../img/bg_image.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  background-position: center center;
  height: 566px;
  padding: 70px 0;
  position: absolute;
  top: 0px;
}
i.fa.fa-twitter {
  position: relative;
  top: 4px;
  color: #fff;
  font-size: 19px;
  margin: 0 4px;
}
/********************** Home Page css end Here *********************/



@media (min-width: 768px){

.mr-md-2, .mx-md-2 {
    margin-right: .5rem!important;
}

}
@media (max-width: 1200px) {

}

@media (max-width: 1024px) {
  .signup-page-outetr {
    margin: 30px 0px;
}
  
}

@media (max-width: 812px) {
  footer ul.navbar-nav {
    flex-direction: row;
}
footer ul.navbar-nav a.nav-link.pointer {
  padding: 5px 30px 5px !important;
}

  .signup-left h3{font-size: 23px;    margin-bottom: 30px;}
  .signup-right{
    padding:25px;
  }
  
}
@media (max-width: 767px) {
  .signup-page{
    background: none;
    padding: 0px;
  }
  .signup-page-outetr {
    margin: 20px 0px;
}
.signup-left h3{
  margin-top: 20px;
  font-size: 26px;
  margin-bottom: 20px;
}
.signup-right{
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
}
}

@media (max-width: 767px) {
  .posr .dropdown-menu li {
    padding-left: 15px;
}
  .navbar {
    padding: 10px 0;
}
  .mobilesocialmedia{
    display:block;    text-align: center;
  }
  li.nav-item.social {
    display: none;
}
.nav-item.posr a{
  font-size: 14px;    margin: 0px 0px 0px;
}
.login-menu a{margin: 0px 5px;width: 61px;}
.register-menu a{
  width: 65px;
  margin: 0px;
  height: 30px;
  line-height: 30px;
}
.login-menu{
  display:none;
}
.col {
  padding: 0px 0px;
}
.map-outter{
  display:none;
}
.mobilemap{
  display:block;
}.intro-sec {
  margin: 0px 0px;padding: 0px 10px;
}
.innert .col{
  padding:0px 10px;
}
.bg{
  height:auto !important;
}
footer {
  display: none;
}
.intro-sec-text {
  text-align: center;
  margin-top: 20px;
}
.intro-sec-text h1 {
  font-size: 38px;
  color: #fff;
}
.intro-sec-text a {
  margin: 0 auto;
}
}

/*Homepage Css*/
/*header {
  background-color: red;
}
header .navbar {
  background-color: red;
  padding: 10px 0;
}*/

.top-header.homepage {
  background-color: rgba(230, 0, 42, 0.5)!important;
}
.top-header.homepage .social a {
  opacity: 1;
  padding: 0 .5rem!important;
}
.top-header.homepage .home-loans {
  border: 1px solid #FAFAFA;  
  border-radius: 2px;
  color: #FFFFFF; 
  font-size: 12px;
  background: transparent;
  padding: 4px 12px;
}
.top-header.homepage .pricing-special {
  border-radius: 2px; 
  background-color: #FFFFFF;
  color: #0E0E0E; 
  font-size: 12px;
  border: none;
  padding: 5px 12px;
}
.top-header.homepage .navbar-nav .nav-link {
  line-height: 28px;
}
.bg-transparent {
  background: transparent;
}
.top-header.homepage i{
  color: #fff;
}
.bannar-section {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 180px 0 120px 0;
  background-position: center;
  min-height: 100vh;
}
.bannar-section.buy {
  background-image: url(../img/hero-image.png);
}
.bannar-section .black-background {
  background: rgba(0,0,0,0.66);
}
.white-color {
  color: #fff!important;
}
.bannar-section .black-background .nav-link {
  background: rgba(105,105,105,0.33);
  margin-right: 6px;
  font-size: 14px;
  padding: .5rem 1rem;
}
.bannar-section .black-background .nav-link.active {
    background-color: #E4002B!important;
    border-color: #E4002B #fff;
    color: #fff;
    border: 1px solid #e4002b;
}
.bannar-section .black-background .nav.nav-tabs {
  border: none;
}
.buy-tab input {
  position: relative;
  padding: 8px 10px 8px 60px;
}

.buy-tab input, .buy-tab select {
  height: 56px;
  border: none;
  outline: none;
}
.buy-tab select {
  border-bottom-left-radius: 2px!important;
}
.buy-tab .search-box {
  position: relative;
}
.buy-tab .search-box .search-icon{
    position: absolute;
    left: 15px;
    top: 15px;
}
.search-box::after {
    content: "";
    height: 35px;
    width: 1px;
    background:rgba(0,0,0,0.11);
    display: inline-block;
    position: absolute;
    left: 8px;
    top: 7px;
}
.bannar-section .black-background .buy-tab button {
  border-radius: 0 2px 2px 0; 
  background-color: #E4002B;
  border: none;
  height: 56px;
  color: #fff;
  outline: none;
}

.bannar-section .black-background .buy-tab .select select,
.bannar-section .black-background .buy-tab .select select option {
  color: #222;
  padding-top: 12px;
}


.bannar-section .black-background .buy-tab .select select,
.bannar-section .black-background .buy-tab .select select option {
  box-sizing: border-box;
  margin: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url(../img/ic_Down.png), linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 60%, 0 0;
  background-size: .75em auto, 100%;
}
select {
  box-sizing: border-box;
  margin: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url(../img/ic_Down.png), linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .75em auto, 100%;
}
.bannar-section .black-background .buy-tab .select select::-ms-expand {
  display: none;
}
.bannar-section .black-background .buy-tab .select select option {
  font-weight: normal;
}
.bannar-section .black-background .buy-tab .select *[dir="rtl"] select, .select :root:lang(ar) select, .select :root:lang(iw) select {
  background-position: left .7em top 50%, 0 0;
  padding: 16px 10px 12px;
}
.bannar-section .black-background .buy-tab .inputbox-label-inside label {
    position: absolute;
    left: 30px;
    top: 3px;
    order: -1;
    font-size: 12px;
    line-height: 20px;
    color: rgba(14,14,14,0.44);
}
.bannar-section .black-background .buy-tab .inputbox.select.inputbox-label-inside {
  border-radius: 3px;
  overflow: hidden;
}
.bannar-section .black-background .buy-tab .pl-0 .inputbox-label-inside label {
    position: absolute;
    left: 15px;
    top: 3px;
    order: -1;
    font-size: 12px;
    line-height: 20px;
    color: rgba(14,14,14,0.44);
}
.black-background h3 {
  font-size: 18px;
}
.more-filters {
    position: absolute;
    width: 97.4%;
    left: 15px;
    margin-top: 15px;
    z-index: 555;
}
.more-filters select, .more-filters input {
    height: 40px;
    border-radius: 4px!important;
    border: 1px solid #ddd;
    padding: 8px;
    font-size: 14px;
    color: #777;
    letter-spacing: 0px;
    outline: none;
}
.checkbox-block .form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.checkbox-block .form-group label {
  position: relative;
  cursor: pointer;
  font-size: 14px;
  color: #777;
  margin-bottom: 5px;
}
.checkbox-block .form-group label:before {
    content: "";
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid #ddd;
    padding: 8px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 15px;
    border-radius: 4px;
}
.blue-color {
  color: #3AA0F6;
  font-size: 14px;
}
.checkbox-block .form-group input:checked + label:after {
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    left: 6px;
    width: 6px;
    height: 10px;
    border: solid #ddd;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.more-filters h6 {
  font-size: 15px;
  font-weight: 600;
  color: #2a2a2a;
  letter-spacing: 0px;
}
.red-bordered {
  border: 1px solid #E4002B;
  color: #E4002B;
  padding: 6px 15px;
  background: #fff;
}
.red-btn {
  background: #E4002B;
  border: 1px solid #e4002b;
  padding: 6px 25px;
  color: #fff;
  transition: all .3s ease-in-out 0s;
}
.search-box.no-line::after {
  display: none;
}
.search-box.no-line input {
  border-radius: 0 0px 4px 4px!important;
}



/*Property card*/
.handpicked-home {
  padding: 120px 0;
  background: #eee;
}
.property-card {
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.11);
  position: relative;
  margin-bottom:30px;
}
.property-card .property-img {
  height: 205px;
  width: 100%;
}
.property-card li {
  color: #0E0E0E; 
  font-size: 13px;
}
.property-card h5 {
  color: rgba(0,0,0,0.44); 
  font-size: 13px;  
  font-weight: bold;  
  letter-spacing: 1px;
  margin-top: 15px;
}
.property-card h2 {
  color: #0E0E0E;
  font-size: 20px;  
  font-weight: bold;
}
.property-card p {
  color: rgba(14,14,14,0.55); 
  font-size: 14px;
}
.property-card h6 {
  color: #0E0E0E;
  font-size: 20px;  
  font-weight: 500;
}
.property-card .red-list li {
  opacity: 0.7; 
  color: #E4002B;
  font-size: 14px;
}
.handpicked-home h3 {
  color: #0E0E0E;
  font-size: 32px;  
  font-weight: bold;
}
.handpicked-home span {
  color: rgba(14,14,14,0.55); 
  font-size: 16px;
}
.dp-block {
  display: block;
}
.show-more .red-bordered {
  border-radius: 4px;
  padding: 9px 100px;
  color: #E4002B;
  font-size: 14px;  
  font-weight: 600; 
  letter-spacing: 1px;
  background: transparent;
  transition: all .3s ease-in-out 0s;
}
.show-more .red-bordered i {
  font-weight: bold;
  margin-left: 15px;
}
.show-more .red-bordered:hover {
  background: #E4002B;
  color: #fff;
}
.normal-btn {
    background: #fff;
    border: 1px solid #979797;
    padding: 8px 25px;
    color: #1C1C1C;
    transition: all .3s ease-in-out 0s;
    font-weight: 600;
}
.normal-btn:hover {
  background: #E4002B;
  color: #fff;
  border: 1px solid #E4002B;
}
.normal-btn:hover img {
  filter: grayscale(100%) brightness(800%);
-webkit-filter: grayscale(100%) brightness(800%);
-moz-filter: grayscale(100%) brightness(800%);
}
.handpicked-home.featured h5 {
  color: rgba(0,0,0,0.44);
  font-size: 12px;  
  font-weight: bold;  
  letter-spacing: 1px;
}
.handpicked-home.featured h2 {
  color: #0E0E0E; 
  font-size: 16px;  
  font-weight: bold;
}
.handpicked-home.featured .property-card p {
    color: rgba(14,14,14,0.55);
    font-size: 13px;
}
.handpicked-home.featured .property-card h6 {
    color: #0E0E0E;
    font-size: 16px;
    font-weight: 600;
}
.featured .property-card .property-img {
  height: 153px;
}
.linebar {
  color: #0E0E0E!important;
  font-size: 20px!important;  
  font-weight: bold!important;
  position: relative;
  margin-bottom: 30px;
}
.linebar::after {
  content: "";
  height: 3px;  width: 33px;  
  border: 1px solid #E4002B;
  background: #E4002B;
  border-radius: 50px;
  display: inline-block;
  position: absolute;
  bottom: -5px;
  left: 0px;
}

.owl-nav button {
  position: absolute;
  top: 50%;
  background-color: #000;
  color: #fff;
  margin: 0;
  transition: all 0.3s ease-in-out;
}
.owl-nav button.owl-prev {
  left: 0;
}
.owl-nav button.owl-next {
  right: 0;
}

.owl-dots {
  text-align: center;
  padding-top: 15px;
}
.owl-dots button.owl-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  background: #ccc;
  margin: 0 3px;
}
.owl-dots button.owl-dot.active {
  background-color: #000;
}
.owl-dots button.owl-dot:focus {
  outline: none;
}
.owl-nav span {
    padding: 5px 20px;
    border-radius: 50%;
    font-size: 32px;
    box-shadow: 0px 2px 12px #00000052;
    background: #fff;
}
/*.owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.38) !important;
}*/
.handpicked-home .side-btn span {
    font-size: 42px!important;
    position: relative;
    top: -5px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.33);
    padding: 0px 19px;
    border-radius: 50%;
}
.owl-nav button:focus {
    outline: none;
}
.owl-dots {
  display: none;
}


/*Intro block Css*/
.intro-section {
  padding: 0 0 80px 0;
}
.introduction-block {
  background-image: url(../img/gulf-road-butique.png); 
  background-repeat: no-repeat;
  background-position: right 0;  
  padding: 30px 20px 30px 0;
}
.intro-wrapper {
  box-shadow: 0 0 8px 4px rgba(0,0,0,0.11);}
}
.intro-wrapper h4 {
  color: rgba(0,0,0,0.6); 
  font-size: 24px;  
  font-weight: bold;
}
.intro-wrapper span {
  color: rgba(0,0,0,0.87);  
  font-family: 'Playfair Display', serif;  
  font-size: 36px;
}
.intro-wrapper h2 {
  color: rgba(0,0,0,0.87);  
  font-size: 36px;
  font-weight: bold;
}
.intro-wrapper h2 span {
  color: rgba(0,0,0,0.87);  
  font-size: 36px;
  font-weight: normal;
}
.intro-wrapper p{
  color: rgba(0,0,0,0.66);  
  font-size: 16px;
}
.intro-wrapper button {
  color: #E4002B; 
  font-size: 14px;  
  font-weight: 500;
  padding: 8px 30px;
  transition: all .2s ease-in-out 0s;
}
.intro-wrapper button:hover {
  background-color: #E4002B; 
  color: #fff;
}

/*Top rated buddies*/
.top-rated-buddies h3 {
  color: #0E0E0E;
  font-size: 32px;  
  font-weight: bold;
}
.top-rated-buddies p {
  color: rgba(14,14,14,0.55); 
  font-size: 16px;
}
.buddy-wrapper {
  box-shadow: 0 1px 8px 0 rgba(0,0,0,0.15);
}
.circle {
  border-radius: 50%;
}
.buddy-wrapper span {
  color: rgba(0,0,0,0.6);
  font-size: 14px;
  border-radius: 4px; 
  background-color: #F1F1F1;
  padding: 8px 15px;
  display: inline-block;
  margin-top: 8px;
}
.buddy-wrapper h4 {
  color: #0E0E0E; 
  font-size: 18px;  
  font-weight: bold;
  margin-top: 12px;
}
.buddy-wrapper h6 {
  color: #0E0E0E; 
  font-size: 14px;
}
.buddy-wrapper li {
  color: #0E0E0E; 
  font-size: 13px;
}
.buddy-wrapper strong {
  color: #0E0E0E; 
  font-size: 13px;
}
.buddy-wrapper small {
  color: rgba(0,0,0,0.55);
   font-size: 12px;
}
.buddy-wrapper h5 {
  color: rgba(0,0,0,0.90);
  font-size: 26px;
}
.fs-16 {
  font-size: 16px!important;
}


/* fix blank or flashing items on carousel */
.top-rated-buddies .owl-carousel .item {
  position: relative;
  z-index: 100; 
  -webkit-backface-visibility: hidden; 
}

/* end fix */
.top-rated-buddies .owl-nav > div {
  margin-top: -26px;
  position: absolute;
  top: 50%;
  color: #cdcbcd;
}

.top-rated-buddies .owl-nav i {
  font-size: 52px;
}

.top-rated-buddies .owl-nav .owl-prev {
  left: -30px;
}

.top-rated-buddies .owl-nav .owl-next {
  right: -30px;
}
.top-rated-buddies .owl-carousel .owl-item img {
    display: inline-block;
    width: auto;
}
.top-rated-buddies .owl-nav span{
    padding: 5px 20px;
    border-radius: 50%;
    font-size: 32px;
    box-shadow: 0px 2px 12px #00000052;
}
.top-rated-buddies .owl-carousel .owl-stage {
  margin-bottom:4px;
}
/*Super Agents*/
.super-agents h3 {
  color: #0E0E0E; 
  font-size: 32px;  
  font-weight: bold;
}
.super-agents p {
  color: rgba(14,14,14,0.55);
  font-size: 16px;
}
.super-agent-block {
  border-radius: 4px; 
  background-color: #FFFFFF;  
  box-shadow: 0 1px 8px 0 rgba(0,0,0,0.15);
  overflow: hidden;
}
.super-agent-block .img-block {
  position: relative;
}
.super-agent-block .img-block .star-block {
  position: absolute;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  bottom: 0px;
}
.super-agent-block li {
  font-size: 11px;
}
.white-color.text {
  position: relative;top:2px;
}
.plr-10 {
  padding-left: 10px;
  padding-right: 10px;
}
.super-agent-block h4 {
  color: #0E0E0E; 
   font-size: 18px;  
   font-weight: bold;
   margin-top: 12px;
}
.super-agent-block h6 {
  color: #0E0E0E; 
  font-size: 14px;
}
.super-agent-block p {
  color: rgba(0,0,0,0.55);
  font-size: 11px;
  text-transform: uppercase;
}
.light-blue {
  background-color: rgba(0,132,137,0.11)!important;
  color: #008489!important; 
}
.super-agent-block span {
    color: rgba(0,0,0,0.6);
    font-size: 13px;
    border-radius: 4px;
    background-color: #F1F1F1;
    padding: 5px 14px;
    display: inline-block;
    margin-top: 5px;
}
.bdr-right {
  border-right: 1px solid #ddd;
}
.super-agent-block span strong {
  color: #0E0E0E;
  font-size: 20px;
  line-height: 24px;
}
.super-agent-block span small {
  color: rgba(0,0,0,0.55);
  font-size: 12px;
}
.super-agents .owl-stage-outer {
  padding-bottom: 10px;
}
.super-agents .owl-nav span, #owl-example-second .owl-nav span ,.blogs .owl-nav span{
    padding: 5px 20px;
    border-radius: 50%;
    font-size: 32px;
    box-shadow: 0px 2px 12px #00000052;
}
.owl-prev {
  left: -40px!important;
}
.owl-next {
  right: -40px!important;
}


/*Next Css*/

.places-to-visit {
  width: 100%;
  display: inline-block;
  overflow: hidden;
  padding: 80px 0;
}
.places-to-visit h3 {
  color: #0E0E0E; 
  font-size: 32px;  
  font-weight: bold;
}
.places-to-visit p {
  color: rgba(14,14,14,0.55);
  font-size: 16px;
}
.blogs {
  padding-bottom: 80px;
}
.blogs h3 {
  color: #0E0E0E; 
  font-size: 32px;  
  font-weight: bold;
}
.blogs p {
  color: rgba(14,14,14,0.55);
  font-size: 16px;
}
.blogs h4 {
  color: #0E0E0E;
  font-size: 16px; 
  font-weight: bold;
}
.blogs span {
  color: rgba(0,0,0,0.55);
  font-size: 13px;
}

/*We are here*/
.we-are-here {
  padding: 80px 0;
}
.we-are-here h3 {
  opacity: 0.8; 
  color: #0E0E0E; 
  font-size: 32px;  
  font-weight: bold;
}
.we-are-here p{
  color: rgba(14,14,14,0.55);
  font-size: 16px;
}
.boxImgWrap{
  border-radius:5px;
  overflow:hidden;
  float:left;
  position: relative;
}
.boxImgWrap img{
  float:left;
}

.boxImgWrap img {
  -webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;
  -o-transition:all .5s ease-in-out;transition:all .5s ease-in-out; 
  position: relative;
}
.boxImgWrap img:hover {
  filter:sepia(100%);
  transform:rotate(-20deg);
  transform:scale(1.1);
}

.boxImgWrap .name {
  position: absolute;
  top: 45%;
  color: #fff;
  text-align: center;
  width: 100%;
  font-size: 24px;
  font-weight: bold;
}
.testimonial-block {
  border-radius: 10px;  
  background-color: #FAFAFA;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.08);
  position: relative;
  margin-bottom: 15px;
}
.testimonial-block .comma {
  position: absolute;
  right: 25px;
  top: 25px;
  display: inline-block!important;
  width: auto!important;
}
.testimonial-block h4 {
  color: #26262E;
  font-size: 24px;  
  font-weight: bold;
  margin-bottom: 5px;
}
.testimonial-block span {
    color: rgba(38,38,46,0.5);
    font-size: 16px;  
    font-weight: 600;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}
.testimonial-block h6 {
  color: #26262E; 
  font-size: 15px;
}

/*Footer*/
footer {
  padding: 30px 0px;
  background: linear-gradient(180deg, #1D1D1D 0%, #0A0A0A 100%);
  position: relative;
  background-image: url(../img/footer.png);
  background-size: cover;
  background-repeat: no-repeat;
}
footer h4 {
  color: #FFFFFF;
  font-size: 16px;  
  font-weight: bold;  
  letter-spacing: 1px;
}
footer a {
  opacity: 0.7; 
  color: #FFFFFF; 
  font-size: 14px;
  font-weight: 400;
}
footer a:hover {
  opacity: 1;
  color: #fff;
}
footer h4 {
  margin-bottom: 30px;
}
footer p {
  opacity: 0.7; 
  color: #FFFFFF;
  font-size: 14px;
}
footer input {
  border-radius: 4px; 
  background-color: #212020;
  border: none;
  padding: 10px;
  color: #fff;
  transition: all .3s ease-in-out 0s;
}
.red-btn:hover {
  background:#a0001e;
  border: 1px solid #a0001e 
}
.copyright {
    opacity: 0.7; 
    color: #FFFFFF;
    font-size: 13px;
    display: inline-block;
    margin-top:80px;
}
.subscribe {
  border: 1px solid #FFFFFF;  
  border-radius: 4px; 
  background-color: #FFFFFF;
  padding: 8px;
  color: #0E0E0E; 
  font-size: 14px;  
  font-weight: 500;
}
.subscribe .fa {
  color: #0E0E0E; 
  font-size: 14px; 
}

.list-property {
  border-radius: 2px; 
  background-color: #FFFFFF;
  padding: 2px 10px;
  color: #0E0E0E; 
  font-size: 14px;
  border: none;
}
.dropdown.languages a{
  color: #fff!important;
}
.header.homepage .navbar-nav .nav-link {
    color: rgba(0,0,0,.5);
    padding: 0 15px;
    color: #fff!important;
}
.dropdown.languages .dropdown-menu.show a {
  color: black!important;
}
.dropdown.languages .dropdown-menu.show {
  width: 80px;
  min-width: auto;
}


.bg-header {
  background-color: rgba(230, 0, 42, 0.5)!important;
}
header {
  transition: all .5s ease-in-out 0s;
}

/*Inner Pages header*/
.inner-header {
  background: #fff;
  height: 72px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.11);
}
.left-right-border {
  border-left: 1px solid rgba(0,0,0,0.08);
  border-right: 1px solid rgba(0,0,0,0.08);
}
.inner-header .nav-link {
    display: block;
    padding: .5rem 1rem;
}
.inner-header .location-block .nav-link {
  line-height: 54px;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #0E0E0E; 
  font-size: 14px;
}
.list-property.red {
  background-color: #E4002B;
  color: #fff;
  border-radius: 2px;
}
.inner-header .navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.5);
    padding-left: 12px;
    padding-right: 12px;
}
.inner-header .dropdown.languages a {
  color: #2a2a2a!important;
  font-weight: bold;
}
.inner-header .navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.7)!important;
    font-weight: bold;
}
.invert-color {
  filter: invert(.5);
  }
.body-light-grey {
  background: #EEEEEE;
  padding: 25px 0;
}
.mt-70 {
  margin-top: 70px;
}
.breadcrum a, .breadcrum span {
  color: rgba(0,0,0,0.44);
  font-size: 13px;
}
.inner-white-wrapper {
  border-radius: 4px; 
  background-color: #FFFFFF;  
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.08);
  padding: 25px;
}
.preview {
  display: block;
  height: 104px;  
  width: 104px;
  margin: 0px auto 5px auto;
  border-radius: 50%;
  overflow: hidden;
}

.file-upload-wrapper {
  position: relative;
  z-index: 5;
  display: inline-block;
  width: 100%;
}

.file-upload-native,
.file-upload-text {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
}

input[type="file"]::-webkit-file-upload-button {
  cursor: pointer;
}

.file-upload-native:focus,
.file-upload-text:focus {
  outline: none;
}

.file-upload-text {
  z-index: 10;
  padding: 5px 15px 8px;
  overflow: hidden;
  font-size: 14px;
  line-height: 1.4;
  cursor: pointer;
  text-align: center;
  letter-spacing: 1px;
  text-overflow: ellipsis;
  border: 0;
  background-color: transparent;
}

.file-upload-native {
  z-index: 15;
  opacity: 0;
}
.preview.img-wrapper img {
  height: 100%;
  width: 100%
}
.file-upload-text::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: red!important;
}

.file-upload-text::-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: red!important;
}

.file-upload-text::-ms-input-placeholder { /* Microsoft Edge */
  color: red!important;
}

.servicesChkBx {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 500;
    margin-bottom: 48px;
}
.login-signup label {
  font-size: 14px;
}
.servicesChkBx input {
    position: relative;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.servicesChkBx .checkmark {
    border: 1px solid #ddd;
    border-radius: 4px;
    display: block;
    padding: 8px 15px;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    color: #1c1c1c;
    height: auto;
    width: auto;
    font-weight: bold;
}

.servicesChkBx input:checked~.checkmark {
    background-color: #E4002B;
    color: #fff;

}

.servicesChkBx .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    content: url(../img/ic_red_check.png);
    right: -7px;
    top: -7px;
}

.servicesChkBx input:checked~.checkmark:after {
    display: block;
}
.left-navigation .active a{
    color: #E4002B;
    font-size: 16px;  
    font-weight: 600;
}
.left-navigation li a {
  color: rgba(0,0,0,0.44); 
  font-size: 16px;
  font-weight: 600!important;
}
.left-navigation li {
  display: block;
  padding: 10px 0px;
}
.left-navigation li a:hover {
  color: #E4002B;
}
.info-wrapper h2 {
  color: #000000; 
  font-size: 32px;
  font-weight: 600;
}
.info-wrapper small {
  color: rgba(0,0,0,0.44); 
  font-size: 14px;
}
.info-wrapper h5 {
  color: rgba(0,0,0,0.44);
  font-size: 20px;
}
.personal-details h3 {
  color: #000000;
  font-size: 20px;  
  font-weight: 600;
  margin-bottom: 0px;
}
.personal-details hr {
  width: 150%;
  left: -25%;
  position: relative;
}
.overflow-hidden {
  overflow: hidden;
}
.personal-details strong {
  color: #000000;
  font-size: 14px;
}
.personal-details h6 {
  color: rgba(0,0,0,0.6); 
  font-size: 16px;
}
.personal-details h5 {
  color: #000000; 
  font-size: 20px;  
  font-weight: bold;
  margin-top: 10px;
}
.personal-details p {
    color: rgba(14,14,14,0.55);
    font-size: 14px;
}
.agent-block {
  border-radius: 12px;  
  background-color: #FFFFFF;  
  box-shadow: -2px 0 0 0 #E4002B, 
  0 1px 8px 0 rgba(0,0,0,0.11);
  padding: 20px 12px;
  margin-top: 40px;
}
.agent-block span {
  color: #E4002B;
  font-size: 14px;  
  font-weight: bold;
  letter-spacing: 0px;
  margin-top: 5px;
}
.top-searh-bar {
    padding-top: 87px;
    padding-bottom: 15px;
    margin-bottom: 0px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.08);
    position: relative;
    z-index: 5;
}
.top-searh-bar input {
    height: 40px;
    outline: none;
    padding: 8px 10px 8px 50px;
    border: 1px solid rgba(0,0,0,0.08);
}
.search-box {
  position: relative;
}
.top-searh-bar .search-box::after {
  display: none;
}
.top-searh-bar .search-box .search-icon {
    position: absolute;
    left: 10px;
    top: 8px;
}
.first-two-box li select {
  padding: 0 6px;
  font-size:14px; 
  color: #0E0E0E; 
  outline: none;
}

.first-two-box li:nth-child(1) {
  width: 36%;
  margin-right: 1%;
}
.first-two-box li:nth-child(2) {
  width: 12.3%;
  margin-right: 1%;
}
.first-two-box li:nth-child(3) {
  width: 12.3%;
  margin-right: 1%;
}
.first-two-box li:nth-child(4) {
  width: 10%;
  margin-right: 1%;
}
.first-two-box li:nth-child(5) {
  width: 10%;
  margin-right: 1%;
}
.first-two-box li:nth-child(6) {
  width: 12.4%;
}
.vlight-background {
  background-color: #FAFAFA;
}


.pagination {
  display: inline-block;
}
.pagination .page-numbers {
    text-align: center;
    padding: .3rem .6rem;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    font-weight: 700;
    /* line-height: 1.9; */
    margin: 0.3rem;
    /* border: 1px solid #f4f6fa; */
    /*background: #f4f6fa;*/
    display: inline-block;
}
@media (max-width: 480px) {
  .pagination .page-numbers {
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    padding: 0.5rem;
  }
}
.pagination .page-numbers.current {
    color: #fff;
    background: #e4002b;
}
.pagination .page-numbers i {
  font-size: 1em;
  line-height: 0.8em;
}
.pagination a {
  color: #000;
  text-decoration: none;
  transition: all 0.4s;
}
.pagination a:hover {
  color: #fff;
  background: #00AAF1;
}
.pagination.pagination--left {
  justify-content: flex-start;
}
.pagination.pagination--center {
  justify-content: center;
}
.pagination.pagination--right {
  justify-content: flex-end;
}

.checkbox.switcher small {
    color: rgba(0,0,0,0.44);
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0px;
    padding-right: 12px;
    display: inline-block;
}
div.checkbox.switcher label, 
div.radio.switcher label {
  padding: 0;
}
div.checkbox.switcher label *, 
div.radio.switcher label * {
  vertical-align: middle;
  cursor: pointer;
}
div.checkbox.switcher label input, 
div.radio.switcher label input {
  display: none;
}
div.checkbox.switcher label input + span, 
div.radio.switcher label input + span {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  width: 46px;
  height: 24px;
  background: #cccccc;
  border: 1px solid #eee;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}
div.checkbox.switcher label input + span small, 
div.radio.switcher label input + span small {
    position: absolute;
    display: block;
    width: 46%;
    height: 90%;
    background: #fff;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    left: 3px;
    top: 1px;
}
div.checkbox.switcher label input:checked + span, 
div.radio.switcher label input:checked + span {
    background: #e4002b;
    border-color: #e4002b;
}
div.checkbox.switcher label input:checked + span small, 
div.radio.switcher label input:checked + span small {
  left: 50%;
}
#mydivon {
  display: block;
}
.appartment-details {
  border: 1px solid rgba(0,0,0,0.04); 
  border-radius: 4px; 
  background-color: #FFFFFF;
}
.property-card-map {
  box-shadow: none;
  border: none;
  padding: none;
  overflow: hidden;
}
.property-card-map h5{
  color: rgba(0,0,0,0.44);
  font-size: 12px;  
  font-weight: bold;  
  letter-spacing: 1px;
  margin-top: 15px;
  display: inline-block;
}
.property-card-map h2 {
  color: #0E0E0E; 
  font-size: 16px;  
  font-weight: bold;
  letter-spacing: 0px;
  margin-bottom: 2px;

}
.property-card-map p {
  color: rgba(0,0,0,0.55); 
  font-size: 13px;
  letter-spacing: 0px;
  margin-bottom: 5px;
}
.listings {
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.08);
    padding: 7px 10px;
    text-align: center;
    height: 65px;
    width: 75px;
    margin-right: 4px;
}
.listings p {
  color: #000000;
  font-size: 12px;  
  line-height: 14px;
  margin-bottom: 0px;
  margin-top: 7px;
}
#mydivon .property-card h2{
  font-size: 16px;
}
#mydivon .property-card p {
    color: rgba(14,14,14,0.55);
    font-size: 14px;
    letter-spacing: 0px;
}
.property-images {
  position: relative;
}
.property-image-block {
  width: 100%;
  overflow: hidden;
}
.property-images .view-more-img {
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    z-index: 55;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 92%;
    text-align: center;
    padding-top: 50px;
}
.hd-and-details hr {
  color: rgba(0,0,0,0.11);
}
.hd-and-details h3 {
  color: #0E0E0E; 
  font-size: 24px;  
  font-weight: 600;
}
.hd-and-details h6 {
  color: rgba(0,0,0,0.75);
  font-size: 15px;
  margin-bottom: 13px;
}
.hd-and-details span {
  color: rgba(0,0,0,0.44); 
  font-size: 14px;
}
.des-and-details h4, .amenities h4, .distance-calculator h4, .rtng-review h4, .house-rules h4{
  color: rgba(0,0,0,0.75);
  font-size: 18px;  
  font-weight: bold;
}
.des-and-details p, .distance-calculator p {
  color: rgba(14,14,14,0.55); 
  font-size: 16px;
  letter-spacing: 0px;
}
.des-and-details a{
  font-size: 14px;
}
.des-and-details strong  {
    font-size: 22px;
    color: #000;
    margin-right: 8px;
}
.amenities .amint-block {
  border: 1px solid rgba(0,0,0,0.11); 
  border-radius: 2px;
  padding: 10px 15px;
  display: inline-block;
  min-width: 170px;
  margin-top: 15px;
}
.amenities .amint-block h5 {
  color: rgba(0,0,0,0.75);
  font-size: 16px;  
  font-weight: 600;
  margin-bottom: 0px;
}
.amenities .amint-block p {
  color: rgba(0,0,0,0.75);
  color: rgba(0,0,0,0.44);  
  font-size: 13px;
  margin-bottom: 0px;
}
.vb-hidden {
  visibility: hidden;
}
.amint-block a {
  font-size: 14px;
  letter-spacing: 0px;
  display: inline-block;
  margin-bottom: 4px;
}
.distance-calculator button {
 padding: 10px;
 font-size: 14px;
 outline: none;
 border-radius: 2px;
 height: 42px;
}
.distance-calculator input {
  height: 42px;
  padding: 8px;
  border-radius: 2px;
  border: 1px solid rgba(0,0,0,0.08);
  font-size: 14px;
  outline: none;
}
.progress {
  height: 0.25rem;
}
.progress-bar {
  background: #008489;
  width: 0;
  -webkit-animation: progress 1.5s ease-in-out forwards;
          animation: progress 1.5s ease-in-out forwards;
}
.progress-bar .title {
  opacity: 0;
  -webkit-animation: show 0.35s forwards ease-in-out 0.5s;
          animation: show 0.35s forwards ease-in-out 0.5s;
}

@-webkit-keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@-webkit-keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.rtng-review span {
   color: #008489;
   font-size: 14px;
}
.testimonial-inner small {
  color: rgba(0,0,0,0.44);
  font-size: 14px;  
  letter-spacing: 0.15px;
}
.testimonial-inner h6 {
  color: rgba(0,0,0,0.8);
  font-size: 14px;  
  font-weight: bold;  
  letter-spacing: 0.15px;
}
.testimonial-inner p {
  color: rgba(0,0,0,0.8);
  font-size: 14px;
}
.ratings-color {
  color: #008489!important;
}
.testimonial-inner a {
  color: #008489;
  font-size: 14px;  
  font-weight: 600;
}
.house-rules p {
  color: rgba(0,0,0,0.6);
  font-size: 14px;
 }
.house-rules h6 {
  color: rgba(0,0,0,0.87);
  font-size: 14px;  
  font-weight: 600;
}
.house-rules h5 {
    color: rgba(0,0,0,0.75); 
    font-size: 16px;  
    font-weight: 600;
}
.instant-booking span {
    color: #0E0E0E; 
    font-size: 20px;
}
.instant-booking h2 {
    color: #0E0E0E; 
    font-size: 24px;
    font-weight: 600;
}
.instant-booking p {
  color: rgba(0,0,0,0.75);
   font-size: 15px;
}
.instant-booking p small {
  color: rgba(0,0,0,0.65);
  font-size: 14px;

}
.input-group-append {
  display: none;
}
#endDate {
  border-bottom-left-radius: 0px; 
  border-top-left-radius: 0px;
  border-bottom-right-radius: 4px; 
  border-top-right-radius: 0px; 
  position: relative;
  left: -1px;
}
.input-daterange label {
  color: #000000;
  font-size: 14px;
}
.input-daterange input {
  height: 48px;
  border: 1px solid #EAEAEA;
}
.input-daterange select {
  height: 48px;
  border: 1px solid #EAEAEA;
  border-radius: 4px!important;
}
.input-daterange button {
  font-size: 14px;
  padding: 12px;
  transition: all .3s ease-in-out 0s;
}
.want-to-do h6 {
  color: rgba(14,14,14,0.87); 
  font-size: 14px;  
  font-weight: 600;
  text-transform: uppercase;
}
.brdr {
  border: 1px solid #ddd;
}
.want-to-do .btn {
 padding: 5px 20px;
 font-size: 14px;
}
.send-enq-btn {
  border-radius: 4px; 
  background-color: #243288;
  border: none;
  color: #fff;
  padding: 14px;
  font-size: 14px;
  transition: all .3s ease-in-out 0s;
}
.send-enq-btn:hover {
  background: #0c1c7f;
}
.want-to-do p {
  color: #777;
  font-size: 14px;
  margin-top: 15px;
}
.want-to-do a {
  color: #243288; 
}
.want-to-do strong {
  color: rgba(14,14,14,0.87);
  font-size: 14px;  
  font-weight: 600;
}
.inspection-btn {
  padding: 14px;
  border-radius: 4px;
  transition: all .3s ease-in-out 0s;
}
.inspection-btn:hover {
  background: #E4002B;
  color: #fff;
}
.report-listing {
  color: rgba(14,14,14,0.44); 
  font-size: 14px;
  margin-top: 15px;
}
.featured .list-inline.red-list img {
    display: inline-block;
    width: auto;
}
.owl-carousel .owl-item li img {
    display: inline-block!important;
    width: auto!important;
}

.selection-of-home-bannar {
  background-image: url(../img/gulf-road-premium.png);
  padding: 120px 0;
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
}
.selection-of-home-bannar p{
  font-size: 16px;  
  font-weight: 600;
  text-transform: uppercase;
}
.selection-of-home-bannar h2 {
  font-size: 48px;  
  font-weight: bold;
  letter-spacing: 1.2px;
}
.premium-property-back {
  background: #FAFAFA!important;
}
.premium-btn {
    background: #243288;
    color: #fff;
    padding: 4px 15px;
    border-radius: 6px;
    border: none;
    font-size: 12px;
    letter-spacing: 0.86px;
    vertical-align: middle;
    position: absolute;
    top: 112px;
    left: 15px;
}
.premium-btn .fa {
  font-size: 17px;
  vertical-align: top;
}
.profile-wrapper {
  border: 1px solid rgba(0,0,0,0.11); 
  border-radius: 4px; 
  background-color: #FFFFFF;
  padding: 15px;
}
.profile-wrapper .super-agent-block {
  border: none;
  box-shadow: none;
}
.profile-wrapper .super-agent-block span strong {
    color: #0E0E0E;
    font-size: 15px;
    line-height: 20px;
    font-weight: normal;
}
.profile-wrapper h3 {
  color: #0E0E0E; 
  font-size: 18px;  
  font-weight: bold;
}
.profile-wrapper h6 {
  color: #0E0E0E; 
  font-size: 14px;
}
.profile-wrapper p {
  color: rgba(14,14,14,0.6);
  font-size: 13px;
}

.chat-page input {
  border-radius: 4px;
  height: 48px;
  padding: 8px 8px 8px 40px;
  background-color: #F7F7F7;
  border: none;
}
.search-icon {
  position: absolute;
    left: 10px;
    bottom: 13px;
}
.chat-page .search-box::after {
  display: none;
}
.chat-page .dropdown-toggle {
  background: transparent;
  border: none;
  outline: none;
  margin-top: 12px;
  color: #E4002B;
  font-size: 14px;  
  font-weight: bold;
}
.chat-page .dropdown-menu.show {
  padding: 0 10px;
}
.chat-page .checkbox-block .form-group label:before {
  border-radius: 14px;
  border: 1px solid #e4183f;
  padding: 6px;
  margin-right: 10px;
}
.chat-page .checkbox-block .form-group input:checked + label:after {
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 4px;
    height: 8px;
    border: solid #e9302b;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.chat-page .checkbox-block .form-group label {
    position: relative;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    color: #777;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #444;
    background-color: #F7F7F7;
    border-radius: 0px;
}
.user-chat-box h4, .contact-chat h4 {
  color: #000000;
  font-size: 16px;  
  font-weight: 600;
}
.user-chat-box p, .contact-chat p{
  color: rgba(0,0,0,0.75); 
  font-size: 14px;
}
.user-chat-box span, .contact-chat span {
  color: rgba(0,0,0,0.44); 
  font-size: 13px;
  display: block;
}
.user-chat-box .nav-link {
  padding: 15px;
}
.user-chat-box .nav-link small, .contact-chat small {
  color: rgba(0,0,0,0.44);
  font-size: 12px;
}
.contact-chat hr {
  width: 200%;
  position: relative;
  left: -20%;
}
.contact-chat strong {
    color: #0E0E0E; 
    font-size: 18px;  
    font-weight: 500;
}
.contact-chat h5 {
  color: rgba(0,0,0,0.44);  
  font-size: 12px;  
  font-weight: bold;
  margin-top: 12px;
}
.no-bg {
  background: transparent;
  background-image: none;
}
.dp-inline-flex {
  display: inline-flex;
}
.display-flex-own {
  display: flex;
}

.chatWindow {
    padding: 25px 20px 25px 60px;
    /*height: 85vh;
    overflow-y: scroll;
    overflow-x: hidden;*/
}

.chatOtherSide {
    color: #26262E;
    font-size: 16px;
    line-height: 26px;
    border-radius: 0 16px 16px 16px;  
    background-color: #F7F7F7;
    padding: 10px 25px;
    position: relative;
    display: inline-block;
}

.chatMySide {
    color: #fff;
    font-size: 16px;
    line-height: 26px;
    border-radius: 16px 0 16px 16px;  
    background-color: #424242;
    padding: 10px 25px;
    position: relative;
    display: inline-block;
    float: right;
    right: 50px;
}
.own-pic-chat {
  position: absolute;
  right: 0px;
  top: 0px;
}
.chatOtherSide .profilePic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid 1px #f7f3f3;
    overflow: hidden;
    display: block;
    position: absolute;
    left: -60px;
    top: 0;
}

.chatOtherSide .profilePic .rounded-circle {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.chatWindow .chatOtherSide .time,
.chatWindow .chatMySide .time {
    color: #BFBFBF;
    font-size: 12px;
    font-weight: 500;
    position: absolute;
    right: -80px;
    top: 0;
}

.chatWindow .chatMySide .time {
    right: auto !important;
    left: -80px;
}

.seenMsg {
    color: #BFBFBF;
    font-size: 12px;
    position: absolute;
    right: 0;
    bottom: -45px;
    display: flex;
    align-items: center;
    line-height: normal;
}

.seenProfile {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    margin-left: 10px;
    display: inline-block;
    border: solid 1px #f1f1f1;
    overflow: hidden;
}

.seenProfile img {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.typingLoading li {
    background-color: #CED3D9;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 2px;
}

.chatOtherSide .insertedImg {
    border-radius: 4px;
    overflow: hidden;
    display: block;
}

.chatOtherSide .insertedImg img,
.chatMySide .insertedImg img {
    max-width: 150px;
}

.chatInput {
    padding: 8px 15px;
    display: flex;
    align-items: center;
    border: 1px solid rgba(0,0,0,0.16);
    border-radius: 4px;
    background-color: #F7F7F7;
}
.chatInput input {
    border: transparent;
    background-color: #F8F9FA;
    width: 88%;
    border-left: 1px solid #ddd;
    border-radius: 0;
}
.rfcMsg {
    background-color: rgba(6, 198, 165, 0.2);
    border-radius: 4px;
    text-align: center;
    padding: 30px;
}

.send-msg-img {
  cursor: pointer;
}
.hd-and-details.small h3 {
    color: #0E0E0E;
    font-size: 20px;
    font-weight: 600;
}
.hd-and-details.small h4 {
  color: #0E0E0E; 
  font-size: 32px;
}
.hd-and-details.small span {
  color: rgba(228,0,43,0.6);
  font-size: 13px;
}
.hd-and-details.small small {
    color: rgba(0,0,0,0.6);
    font-size: 14px;
    border-radius: 4px;
    background-color: #F1F1F1;
    padding: 8px 15px;
    display: inline-block;
    margin-top: 8px;
}
.bio small {
  color: rgba(0,0,0,0.55);
  font-size: 11px;
  display: inline-block;
  margin-top: 20px!important;
}
.bio p {
  color: #0E0E0E; 
  font-size: 14px;
  margin-top: 5px;
}
.with-shadow {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.08);
}
.rating-and-review h4 {
  color: rgba(14,14,14,0.87);
  font-size: 18px;  
  font-weight: bold;
}
.rating-and-review h6 {
  color: rgba(14,14,14,0.44);
  font-size: 14px;  
  font-weight: 500;
}
.rating-and-review strong {
  color:#008489;
  font-size: 32px;
  font-weight: bold;
}
.rating-and-review li {
  color: rgba(14,14,14,0.44); 
  font-size: 13px;
}
.all-stars li {
  border: 1px solid rgba(0,132,137,0.11)!important; 
  border-radius: 16px!important;
  color: #008489!important;
  font-size: 14px!important;
  display: inline-block;
  padding: 5px 20px;
}
.awards-list h4 {
  color: rgba(14,14,14,0.87);
  font-size: 18px;  
  font-weight: bold;
}
.awards-list p{
  color: rgba(14,14,14,0.6);
  font-size: 16px;  
  font-weight: 500;
}
.handpicked-home .btn.brdr.active {
  background-color: #E4002B;
  color: #fff;
}
.handpicked-home .btn.brdr {
  color: rgba(0,0,0,0.6); 
  font-size: 16px;  
  font-weight: 500;
  padding: 8px 20px;
  outline: none;
}
.handpicked-home .btn.brdr:focus {
  box-shadow: none;
}
.area-of-specialization h3 {
  color: #0E0E0E;
  font-size: 32px;  
  font-weight: bold;
} 
.spcl-box {
  border: 1px solid rgba(151,151,151,0.1);
}
.red-bg {
  background-color: #E4002B;
}
.spcl-box h5 {
  color: #0E0E0E;
  font-size: 20px;  
  font-weight: 500;
}
.spcl-box p{
  color: rgba(14,14,14,0.6);
  font-size: 16px;
}
.spcl-box h4 {
  color: #FFFFFF;
  font-size: 32px;  
  font-weight: bold;
}
.spcl-box .red-bg p {
  font-size: 18px;
  padding-bottom: 20px;
}
.area-of-specialization {
  padding-bottom: 80px;
}
.inspection-btn:hover img{
  filter: brightness(0) invert(1);
}
.instant-booking.contact-agent .inspection-btn {
  padding: 8px;
}
.instant-booking.cntct-agnt input {
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 48px;
  padding: 8px;
}
.instant-booking.cntct-agnt textarea {
  border: 1px solid #ddd;
  border-radius: 4px;
}
.alivate-profile h4 {
  color: rgba(0,0,0,0.75); 
  font-size: 24px;  
  font-weight: bold;  
  letter-spacing: -0.15px;
}
.alivate-profile button {
  font-size: 14px;
  padding: 10px 30px;
}
.dp-inline-block {
  display: inline-block;
}
.days-list li {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border: 1px solid #ddd;
  text-align: center;
  color: rgba(0,0,0,0.6);
  font-size: 13px;
  line-height: 24px;
  margin-right: 2px;
}
.days-list li.active {
  background-color: #E4002B;
  color: #fff;
  border: 1px solid #E4002B;
}
.languages-block span {
  color: rgba(0,0,0,0.6);
    font-size: 14px;
    border-radius: 4px;
    background-color: #F1F1F1;
    padding: 5px 12px;
    display: inline-block;
    margin-right: 8px;
}
.personal-details .year-details {
  color: #000000; 
  font-size: 20px;  
  font-weight: 600;
  line-height: 28px;
}
.img-upload {
  color: #E4002B;
  font-size: 14px;  
  font-weight: 500;
}
.ft-16 {
  font-size: 16px!important;
}

/*resigtration process part-1*/
.registraion-process {
  padding: 80px 0;
  background: #FAFAFA;
}
.registraion-process h3 {
  color: #000000; 
  font-size: 32px;  
  font-weight: bold;  
  letter-spacing: -0.2px;
}
.registraion-process p{
  color: rgba(14,14,14,0.55); 
  font-size: 16px;
}
.registraion-process a {
  color: #E4002B;
  font-size: 16px;  
  letter-spacing: -0.1px;
  margin-top: 15px;
  font-weight: 400;
}
.regst-blk {
  border: 1px solid rgba(0,0,0,0.08); 
  border-radius: 2px; 
  background-color: #FFFFFF;
}
.theme-color {
  color: #E4002B;
}
.regst-blk small {
  color: rgba(14,14,14,0.55);
  font-size: 14px;
  display: block;
}
.progress-line {
    border-radius: 4px; 
    background-color: rgba(0,0,0,0.1);
    width: 100%;
    display:block;
    height: 4px;
    position: relative;
}
.progress-line::after {
  content: "";
  border-radius: 4px; 
  background-color: #e4002b;
  width: 0%;
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  height: 4px;
}
.progress-line.second::after {
  width: 20%;
}
.progress-line.third::after {
  width: 40%;
}
.progress-line.fourth::after {
  width: 60%;
}
.progress-line.fifth::after {
  width: 80%;
}

.regst-blk li {
  position: relative;
  padding: 0px 0 10px 35px;
}
.regst-blk p {
  position: relative;
  color: rgba(14,14,14,0.44);
  font-size: 14px;
  letter-spacing: 0px;
}
.regst-blk h4{
  color: rgba(14,14,14,0.7);
  font-size: 20px;  
  font-weight: 500;
}
.regst-blk .lgt-line::before{
  position: absolute;
  height: 20px;  
  width: 20px; 
  border: 3px solid #D8D8D8;
  content: "";
  left: 0px;
  top: 4px;
  display: inline-block;
  border-radius: 50%;
}
.regst-blk .lgt-line.active::before{
  position: absolute;
  height: 20px;  
  width: 20px; 
  border: 3px solid #E4002B;
  content: "";
  left: 0px;
  top: 4px;
  display: inline-block;
  border-radius: 50%;
}
.regst-blk .lgt-line::after{
  position: absolute;
  height: 10px;  
  width: 10px; 
  border: 3px solid #d8d8d8;
  content: "";
  left: 5px;
  top: 9px;
  display: inline-block;
  border-radius: 50%;
  background: #d8d8d8;
}
.regst-blk .lgt-line.active::after{
  position: absolute;
  height: 10px;  
  width: 10px; 
  border: 3px solid #E4002B;
  content: "";
  left: 5px;
  top: 9px;
  display: inline-block;
  border-radius: 50%;
  background:  #E4002B;
}
.regst-blk p {
  margin-bottom: 6px;
}
.regst-blk .normal-line::before {
    position: absolute;
    height: 70px;
    width: 2px;
    content: "";
    left: -26px;
    top: -8px;
    display: inline-block;
    background: #d8d8d8;
}
.regst-blk .normal-line.active::before {
  background: #e4002b;
}
.regst-blk {
  color: rgba(14,14,14,0.7); 
  font-size: 20px;  
  font-weight: 500;
  border-radius: 2px;
}
.uplod-doc {
  border: 1px solid rgba(0,0,0,0.08); 
  background-color: #FFFFFF;
  border-radius: 2px;
}
.uplod-doc h4 {
  color: rgba(14,14,14,0.7); 
  font-size: 18px;  
  font-weight: bold;
}
.img-upload-btn {
  background:transparent;
  border: none;
  padding: 0px;
}
.img-upload-btn label {
  border: 1px solid rgba(0,0,0,0.1);  
  border-radius: 2px;
  background: #fff;
  padding: 7px 25px;
  color: #E4002B;
  font-size: 14px;
  cursor: pointer;
}
.img-upload-btn .file-upload__input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: 1;
  width: 0;
  height: 100%;
  opacity: 0;
}
.buddy-regst-form select {
  background-image: url(../img/ic_Down.png), linear-gradient(to bottom, #F5F5F5 0%, #F5F5F5 100%)
}
.buddy-regst-form {
  border: 1px solid rgba(0,0,0,0.08); 
  border-radius: 2px; 
  background-color: #FFFFFF;
}
.buddy-regst-form h4 {
  color: rgba(14,14,14,0.7);
  font-size: 24px;  
  font-weight: bold;
  margin-bottom: 30px;
}
.buddy-regst-form p {
  color: rgba(14,14,14,0.66); 
  font-size: 16px;  
  font-weight: 600;
}
.btn-grp-select input[type="radio"] {
  visibility: hidden;
  height: 0;
  width: 0;
}
.btn-grp-select label {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  background-color: #fff;
  color: white;
  padding: 10px 30px;
  transition: all 0.3s ease-out;
  color: #000000; 
  font-size: 16px;  
  font-weight: 600;
  border: 1px solid #ddd;
}
.btn-grp-select input[type="radio"]:checked + label {
  background-color: #E4002B;
  color: #fff;
  border: 1px solid #e4002b;
}
.btn-grp-select span {
  display: inline;
}
.btn-grp-select .female-btn {
  position: relative;
  left: -8px;
}
.btn-grp-select .female-btn label {
    border-radius: 0px 4px 4px 0px;
    border-left: none!important;
}
.btn-grp-select .male-btn label{
  border-radius: 4px 0 0 4px; 
  border-right: none!important;
}
.buddy-regst-form label {
  margin-bottom: 20px;
  color: rgba(14,14,14,0.66);
  font-size: 16px;  
  font-weight: 600;
}
.buddy-regst-form .form-control {
    height: 48px; 
    border: 1px solid #EEEEEE;  
    border-radius: 4px;
    font-size: 15px;
    margin-bottom: 30px;
}
.form-control:focus {
  box-shadow: none;
  border: 1px solid #e4002b;
}
.radio {
  margin-bottom: 15px;
}
.radio label {
  color: rgba(14,14,14,0.6)!important; 
  font-size: 16px!important;
  font-weight: 400!important;
  cursor: pointer;
}
.radio input[type="radio"] {
  position: absolute;
  opacity: 0;
}
.radio input[type="radio"] + .radio-label:before {
  content: '';
  background: #fff;
  border-radius: 100%;
  border: 2px solid #b4b4b4;
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  margin-right: 1em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
}
.radio input[type="radio"]:checked + .radio-label:before {
  background-color: #e4002b;
  box-shadow: inset 0 0 0 3px #fff;
  border-color: #e4002b;
}
.radio input[type="radio"]:focus + .radio-label:before {
  outline: none;
  border-color: #e4002b;
}
.radio input[type="radio"]:disabled + .radio-label:before {
  box-shadow: inset 0 0 0 4px #f4f4f4;
  border-color: #b4b4b4;
  background: #b4b4b4;
}
.radio input[type="radio"] + .radio-label:empty:before {
  margin-right: 0;
}
.lic-y-n {
  width: 100%;
  display: inline-block;
}
.lic-y-n .servicesChkBx .checkmark {
  color: rgba(0,0,0,0.44); 
  font-size: 16px;
  font-weight: 400;
  border-radius: 24px;
  width: 100%;
}
.lic-y-n .servicesChkBx input:checked~.checkmark:after {
    display: none;
}

.buddy-regst-form .checkbox-block .form-group label:before {
  border: 1px solid #979797;  
  border-radius: 4px;
}
.buddy-regst-form .checkbox-block label {
  color: rgba(0,0,0,0.87);  
  font-size: 16px;
  font-weight: 400;
}
.buddy-regst-form .checkbox-block small {
  color: rgba(0,0,0,0.6); 
  font-size: 13px;
}
.dark-color {
    color: #000000!important;
}
.buddy-regst-form.address label {
  color: rgba(0,0,0,0.8);
  font-size: 13px; 
  font-weight: 600;
  margin-bottom: 10px;
}
.buddy-regst-form.address .form-control {
  margin-bottom: 15px;
}
.buddy-regst-form.address .days-list li {
    height: 42px;
    width: 42px;
    border-radius: 50%;
    border: 1px solid #ddd;
    text-align: center;
    color: rgba(0,0,0,0.6);
    font-size: 13px;
    line-height: 42px;
    margin-right: 6px;
    cursor: pointer;
}
.buddy-regst-form.address .days-list li.active {
  color: #fff;
}
.light-grey-btn {
  border-radius: 2px; 
  background-color: #F1F1F1;
  height: 48px;
  border: none;
  padding: 2px 20px;
  color: rgba(0,0,0,0.6);
  font-size: 16px;
}
.buddy-regst-form.address label{
  color: rgba(14,14,14,0.66); 
  font-size: 16px;  
  font-weight: 600;
}
.no-border {
  border: none;
}
.light-green-btn {
  color: #008489; 
  font-size: 16px;
  border-radius: 4px; 
  background-color: rgba(0,132,137,0.11);
  height: 48px;
  border: none;
  padding: 2px 25px;
  margin-top: 15px;
}
.uploader {
  display: inline-block;
  clear: both;
  margin: 0 auto;
  width: 100%;
}
.uploader label {
  float: left;
  clear: both;
  width: 100%;
  padding: 4rem 1.5rem;
  text-align: center;
  background: #fff;
  border-radius: 7px;
  border: 2px dashed rgba(0,0,0,0.12);
  transition: all .2s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.uploader #start {
  float: left;
  clear: both;
  width: 100%;
}
.uploader #start.hidden {
  display: none;
}
.uploader #start i.fa {
  font-size: 50px;
  margin-bottom: 1rem;
  transition: all .2s ease-in-out;
}
.uploader #response {
  float: left;
  clear: both;
  width: 100%;
}
.uploader #response.hidden {
  display: none;
}
.uploader #response #messages {
  margin-bottom: .5rem;
}
.uploader #file-image {
  display: inline;
  margin: 0 auto .5rem auto;
  width: auto;
  height: auto;
  max-width: 180px;
}
.uploader #file-image.hidden {
  display: none;
}
.uploader #notimage {
  display: block;
  float: left;
  clear: both;
  width: 100%;
}
.uploader #notimage.hidden {
  display: none;
}
.uploader progress,
.uploader .progress {
  display: inline;
  clear: both;
  margin: 0 auto;
  width: 100%;
  max-width: 180px;
  height: 8px;
  border: 0;
  border-radius: 4px;
  background-color: #eee;
  overflow: hidden;
}
.uploader .progress[value]::-webkit-progress-bar {
  border-radius: 4px;
  background-color: #eee;
}
.uploader .progress[value]::-webkit-progress-value {
  background: linear-gradient(to right, #393f90 0%, #454cad 50%);
  border-radius: 4px;
}
.uploader .progress[value]::-moz-progress-bar {
  background: linear-gradient(to right, #393f90 0%, #454cad 50%);
  border-radius: 4px;
}
.uploader input[type="file"] {
  display: none;
}
.uploader div {
  margin: 0 0 .5rem 0;
  color: #5f6982;
}
.lang-btn {
    color: rgba(0,0,0,0.6);
    font-size: 14px;
    border-radius: 4px;
    background-color: #F1F1F1;
    padding: 8px 15px;
    display: inline-block;
    margin-top: 8px;
    border: none;
}
.instant-booking.cntct-agnt h1 {
  font-size: 26px;
  font-weight: 400;
}
.instant-booking.cntct-agnt small {
  color: rgba(0,0,0,0.44); 
  font-size: 16px;
}
.edu-details h4 {
  color: rgba(14,14,14,0.87); 
  font-size: 18px;  
  font-weight: 600;
} 
.edu-details p {
  color: rgba(14,14,14,0.6); 
  font-size: 16px;
}
.edu-details strong {
  font-size: 28px;
  line-height: 32px;
  position: relative;top: 3px;
}

#register-popup h3 {
  color: #000000;
  font-size: 24px;  
  font-weight: bold;
}
.bordered {
  border: 2px solid #E4002B;  
  border-radius: 4px;
  background: #fff;
  padding: 12px 25px;
  color: #E4002B;
  font-weight: 600;
  transition: all .3s ease-in-out 0s;
}
.bordered:hover {
  background: #E4002B;
  color: #fff;
}
/*Buy rent page Css*/
.buy-rent {
  margin-top: 70px;
  padding: 70px 0;
}
.boxed {
  margin-bottom: 40px;
}
.boxed label {
  display: inline-block;
  padding: 8px 15px;
  border: solid 2px #ccc;
  transition: all 0.3s;
  border-radius: 6px;
  margin-right: 15px;
  font-weight: 600;
  color: rgba(0,0,0,0.6);
}
.boxed.second label {
  min-width: 120px;
}
.boxed input[type="radio"] {
  display: none;
}

.boxed input[type="radio"]:checked + label {
  border: solid 2px #E4002B;
  background: #E4002B;
  color: #fff;
}
.boxed input[type="radio"]:checked + label img {
    filter: brightness(0) invert(1);
}
.buy-rent h3 {
  color: #000000;
  font-size: 24px;  
  font-weight: bold;
}
.buy-rent p {
  color: rgba(0,0,0,0.75); 
  font-size: 16px;
}
.buy-rent h5 {
  color: #000000;
  font-size: 16px;  
  font-weight: bold;
}
.loc-form input, .loc-form select {
  height: 48px;
  padding: 8px 0px 8px 8px;
}
.buy-rent a {
  color: rgba(0,0,0,0.75);
  font-size: 16px;  
  font-weight: bold;
}
.filter-white {
  filter: brightness(0) invert(1);
}
.number .minus, .number .plus {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 10px 5px 8px 5px;
    border: 1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    position: relative;
    cursor: pointer;
}
.number input{
      height:34px;
      width:30px;
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      border:1px solid #ddd;
      border-radius:4px;
      display: inline-block;
      vertical-align: middle;
      color: #777;
}
.number .minus small {
    position: absolute;
    top: 4px;
    left: 7px;
    font-size: 20px;
    line-height: 14px;
    color: #777;
}
.number .plus small {
    position: absolute;
    top: -3px;
    left: 5px;
    font-size: 18px;
    color: #777;
}
.facility-block {
  height: 104px; 
  border: 1px solid rgba(0,0,0,0.1);  
  border-radius: 4px;
  width: 100%;
  text-align: center;
  padding: 15px 0 15px 0;
  margin-bottom: 15px;
}
.facility-block p {
  color: rgba(0,0,0,0.6); 
  font-size: 14px;  
  font-weight: 500;
  letter-spacing: 0px;
}
.upload {
    position: relative;
    display: inline-block;
    top: 18px;
}
.upload label {
    color: #5f626a;
    cursor: pointer;
    width: 163px;
    height: 125px;
    position: relative;
    display: block;
    border-radius: 4px;
    overflow: hidden;
    transition: background ease 0.5s;
    pointer-events: none;
    margin-bottom: 5px;
    margin-right: 5px;
}
.input-file {
  opacity: 0; /*This*/
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.add-image {
  display: block;
  width: 100%;
  margin: 10px auto;
  text-align: center;
  color: rgba(39,36,27,0.55); 
  font-size: 14px;
}
.profile-form .form-control {
 height: 48px;
 position: relative;
}
.info-text {
  color: rgba(0,0,0,0.44);
  font-size: 14px;
  text-decoration: underline;
}
.add-coworking ul li a {
  padding: 20px 15px;
  width: 100%;
  display: block;
}
.add-coworking ul h5 {
  color: rgba(0,0,0,0.6);
  font-size: 16px;  
  font-weight: 600;
}
.add-coworking ul p {
  color: rgba(0,0,0,0.6);
  font-size: 13px;
  letter-spacing: -.5px;
  margin-bottom: 0px;
}
.add-coworking ul li.active, .add-coworking ul li:hover {
  background-color: #F9F9F9;  
  box-shadow: inset 4px 0 0 0 #E4002B;
}
.add-coworking ul li.active h5 {
  color: #e4002b;
}
.card.list-coworking h4{
  color: #000000; 
  font-size: 20px;  
  font-weight: 600;
  margin-bottom: 0px;
}
.card.list-coworking h5 {
  color: #000000;
  font-size: 16px;  
  font-weight: bold;
}
.card.list-coworking p {
  color: rgba(0,0,0,0.6); 
  font-size: 14px;
}
.add-coworking .nav.nav-tabs li.active, .add-coworking .nav.nav-tabs li:hover {
  background:#fff;
  border: none;
  box-shadow: none;
}
.add-coworking .nav-tabs {
  border: none;
  
}
.add-coworking .nav-tabs .nav-link {
  border-bottom: 2px solid transparent; 
  border: none;
  padding: 5px 15px;
}
.add-coworking .nav-tabs .nav-item.show .nav-link, .add-coworking .nav-tabs .nav-link.active {
  border: none;
  border-bottom: 2px solid red;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  border: none;
  border-bottom: 2px solid red;
}
.edit-icon {
  position: absolute;
  top:5px;
  right: 0px;
  display: none;
}
.property-card.bg-white.rounded:hover .edit-icon{
  display: block;
}
.list-coworking input, .list-coworking select{
  border: 1px solid rgba(0,0,0,0.1);  
  border-radius: 4px!important;
  height: 48px;
}
.bg-none {
  background: none;
}
.select-with-grey-bg {
  background-image: url(../img/ic_Down.png), 
  linear-gradient(to bottom, #eee 0%, #eee 100%);
}

.blog-card .main-img {
  border-radius: 4px; 
  margin-bottom: 15px;
  transition: all .3s ease-in-out 0s;
}
.blog-card:hover .main-img{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.24);
  transition: all .3s ease-in-out 0s;
}
.blog-card {
  transition: all .3s ease-in-out 0s;
  position: relative;
}
.blog-card strong {
  color: rgba(0,0,0,0.75); 
  font-size: 14px;  
  font-weight: 600;
}
.blog-card p {
  color: rgba(0,0,0,0.56); 
  font-size: 13px;
  font-weight: 400;
}
.blog-card span{
    position: absolute;
    right: 7px;
    top: 7px;
}
.btn-group button {
  outline: none;
  outline: none;
}

.btn-group button:focus {
  box-shadow: none;
  border: none;
}
.list-coworking h3 {
  color: #000000; 
  font-size: 20px;
  font-weight: 400;
}
.fearure-coworking {
  border-radius: 4px; 
  background-color: #FFFFFF;  
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.11);
  margin-bottom: 40px;
}
.fearure-coworking .coworking-img {
    border-radius: 4px 4px 0 0;
}
.fearure-coworking h5 {
  color: #0E0E0E; 
  font-size: 16px;  
  font-weight: bold;
}
.fearure-coworking p {
  color: rgba(0,0,0,0.55)!important;
  font-size: 13px!important;
}
.fearure-coworking h6 {
    color: #0E0E0E; 
    font-size: 14px;  
    font-weight: 600;
}
.fearure-coworking span {
  color: rgba(14,14,14,0.8); 
  font-size: 14px;
}
.fearure-coworking strong {
  color: rgba(14,14,14,0.85);
  font-size: 16px;  
  font-weight: 600;
}
.featured-nearby h4{
  color: #0E0E0E; 
  font-size: 24px;  
  font-weight: 600;
  opacity: 0.8;
}
.featured-nearby p {
  color: rgba(14,14,14,0.55);
  font-size: 16px;
}
.cospace-landscape {
    border-radius: 4px; 
    background-color: #FFFFFF;  
    box-shadow: 2px 4px 10px 0 rgba(0,0,0,0.1);
}
.fearure-coworking.cospace-landscape .coworking-img{
    border-radius: 4px 0 0 4px;
}



.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus {
  outline: none;
}

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* draggable */

.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* ---- previous/next buttons ---- */

.flickity-prev-next-button {
  position: absolute;
  top: 50%;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background: white;
  background: hsla(0, 0%, 100%, 0.75);
  cursor: pointer;
  /* vertically center */
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.flickity-prev-next-button:hover {
  background: white;
}

.flickity-prev-next-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #09f;
}

.flickity-prev-next-button:active {
  opacity: 0.6;
}

.flickity-prev-next-button.previous {
  left: 10px;
}
.flickity-prev-next-button.next {
  right: 10px;
}

.flickity-prev-next-button:disabled {
  opacity: 0.3;
  cursor: auto;
}

.flickity-prev-next-button svg {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
}

.flickity-prev-next-button .arrow {
  fill: #333;
}

.property-images-block .carousel-main {
  margin-bottom: 8px;
}

.property-images-block .carousel-cell {
  width: 100%;
  height: 504px;
  margin-right: 8px;
  background: #8c8;
  border-radius: 5px;
}

.property-images-block .carousel-nav .carousel-cell {
  height: 90px;
  width: 120px;
}

.property-images-block .carousel-main img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.workspace-pricing li{
  width: 32%;
  display: inline-block;
  padding: 10px 0;
  font-size: 13px;
}
.workspace-pricing .bg-light-grey {
  background: #F5F5F5;
}
.bdrb {
  border-bottom: 1px solid #ddd;
}
.workspace-pricing p {
  color: rgba(0,0,0,0.6);
  font-size: 14px;
}
.workspace-pricing h5 {
    color: rgba(0,0,0,0.75);
     font-size: 18px;  font-weight:600;
}
.workspace-pricing h6 {
  color: rgba(0,0,0,0.75);
  font-size: 14px;  
  font-weight: 600;
}
.swapandstay {
  padding: 120px 0 70px 0;
}
.swapandstay button {
  padding: 12px 20px;
  font-size: 16px;
}
.swapandstay h4 {
  color: #000000;
  font-size: 32px;
  font-weight: bold;
}
.swapandstay p{
  color: rgba(0,0,0,0.75);
  font-size: 16px;
}
.swapandstay h5 {
  color: rgba(0,0,0,0.75);
  font-size: 28px;
  font-weight: 600;
}

/*Landing page Css*/
.bannar-section.buddys {
  background-image: url(../img/landing-page/Rectangle.png);
}
.become-a-buddy {
  background-image: url(../img/landing-page/buddy-image.png);
  padding: 50px 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.become-a-buddy .budy-btn {
  border-radius: 4px;
  background-color: #E4072B;
  border: none;
  padding: 10px 25px;
  color: #fff;
}
.become-a-buddy h3 {
  color: #FFFFFF;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 0;
}
.become-a-buddy p {
  opacity: 0.7;
  color: #FFFFFF;
  font-size: 20px;
  letter-spacing: 0;
}
.find-buddy-location {
  padding: 80px 0;
}
.find-buddy-location h4 {
   color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  margin-bottom: 15px;
}
.find-buddy-location p{
   color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  margin-bottom: 10px;
}
.find-buddy-location a {
   color: #E4072B;
   text-decoration: underline!important;
  font-size: 14px;
  font-weight: bold;
}
.benifits-wrap {
  background-color: #2F404C;
  padding: 80px 0;
}
.benifits-wrap h4 {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  margin: 18px 0 15px 0;
}
.benifits-wrap p{
  opacity: 0.5;
  color: #FFFFFF;
  font-size: 14px;
  letter-spacing: 0;
  width: 80%;
  margin: 0 auto 50px auto;
  font-weight: 300;
}
.register-people-earning {
  padding: 50px 0;
}
.register-people-earning p {
  color: #8C8C8C;
  font-size: 16px;
  letter-spacing: 0;
}
.register-people-earning h5 {
   opacity: 0.8;
  color: #0E0E0E;
  font-size: 18px;

}
.register-people-earning h4 {
  opacity: 0.8;
  color: #0E0E0E;
  font-size: 24px;
  font-weight: bold;
    margin-top: 10px;
}
.prem-prop-wrap {
  background-color: #F5F5F5;
  padding: 70px 0;
}
.prem-prop-wrap h3 {
  opacity: 0.8;
  color: #0E0E0E;
  font-size: 32px;
  font-weight: bold;
}
.property-card.with-bg-image {
  position: relative;
}
.property-card.with-bg-image .content-wrap {
  position: absolute;
  bottom: 0px;
}
.property-card.with-bg-image .content-wrap li {
    opacity: 1;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0;
    margin-right: 8px;
}
.property-card.with-bg-image .content-wrap h2 {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
}
.property-card.with-bg-image .red-btn {
  padding: 2px 12px;
  font-size: 12px;
  border-radius: 4px;
  position: absolute;
  top: 15px;
  left: 15px;
}
.property-card.with-bg-image .fav-icon {
  padding: 2px 12px;
  font-size: 12px;
  border-radius: 4px;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
.lp-top-footer {
  margin-top: 120px;
  background-color: #FEC64A;
  padding: 20px 0 60px 0;
}
.lp-top-footer p{
  opacity: 0.8;
  color: #0E0E0E;
  font-size: 24px;
  letter-spacing: 0;
  margin-bottom: 0px;
}
.lp-top-footer img {
  margin-top: -70px;
}
.lp-bottom-bannar .red-bg {
  border-radius: 4px;
  background-color: #E4002B;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.11);
  padding: 40px;
  margin-top: -80px;
}
.lp-bottom-bannar .red-bg h3 {
  color: #FFFFFF;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0;
}
.lp-bottom-bannar .red-bg p {
  color: #FFFFFF;
  font-size: 20px;
  letter-spacing: 0;
}
.lp-bottom-bannar .red-bg .first-btn {
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  background: transparent;
  padding: 6px 20px;
}
.lp-bottom-bannar .red-bg .second-btn {
  border: 1px solid #FFFFFF;
  background-color: #FFFFFF!important;
  color: #E4002B;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  background: transparent;
  padding: 6px 20px;
}
.lp-2.find-buddy-location h4 {
  opacity: 0.8;
  color: #0E0E0E;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0;
}
.lp-2.find-buddy-location h5 {
  opacity: 0.8;
  color: #0E0E0E;
  font-size: 18px;
  letter-spacing: 0;
  margin-bottom: 20px;
}
.lp-2.find-buddy-location p {
  opacity: 0.6;
  color: #0E0E0E;
  font-size: 16px;
  letter-spacing: 0;
  margin-bottom: 20px;
}
.lp-2.find-buddy-location {
  background: #F7F7F7;
}
.partners-logo {
  padding: 80px 0; 
}
.partners-logo h4 {
  color: #0E0E0E;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0; 
  text-align: center;
  margin-bottom: 40px;
}
.benifits-wrap.property-range h3 {
  color: #FFFFFF;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 40px;
}
.benifits-wrap.property-range p {
    opacity: 1;
    color: #FFFFFF;
    font-size: 14px;
    letter-spacing: 0;
    width: 80%;
    margin:0 0 50px 0!important;
}
.benifits-wrap.property-range {
  background-image: url(../img/landing-page/33.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.benifits-wrap.property-range {
  padding: 80px 0 40px 0;
}
.benifits-wrap.property-range img {
  filter: brightness(0) invert(1);
}
.lp-how-it-works {
  padding: 80px 0;
}
.lp-how-it-works h4 {
  opacity: 0.8;
  color: #0E0E0E;
  font-size: 32px;
  font-weight: bold;
}
.lp-how-it-works h6 {
  opacity: 0.8;
  color: #0E0E0E;
  font-size: 18px;
  letter-spacing: 0;
  margin-bottom: 20px;
}
.lp-how-it-works p {
  opacity: 0.6;
  color: #0E0E0E;
  font-size: 16px;
  letter-spacing: 0;
}
.lp-footer-top-sec {
  background-image: url(../img/landing-page/44.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0;
  background-position: bottom;
}
.lp-footer-top-sec .bg-block {
  opacity: 0.8;
  border-radius: 4px;
  background-color: #E4002B;
}
.lp-footer-top-sec .bg-block h4 {
  color: #FFFFFF;
  font-size: 18px;
  letter-spacing: 0;
  text-decoration: underline;
}
.lp-footer-top-sec .bg-block p{
  color: #FFFFFF;
  font-size: 12px;
  letter-spacing: 0;
}


/*NEw Css*/
.compare-listing {
  text-align: left;
}
.outer-wrap-compare {
  border: 1px solid #CBCBCB;
  width: 100%;
  overflow-x: hidden;
}
.outer-wrap-compare .dark-bg{
  background: #EAEAEA;
}
.outer-wrap-compare p{
  padding: 15px;
}
.outer-wrap-compare .bb-block {
  border-bottom: 1px solid #CBCBCB;
}
.outer-wrap-compare {
  background: #FCFCFC;
}
#register-popup .outer-wrap-compare-outer h3{
   color: #000000;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: -0.2px;
}




.hm-co-opt {
  padding: 70px 0;
}
.hm-co-opt h4 {
  opacity: 0.8;
  color: #0E0E0E;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0;
}
.hm-co-opt .card-wrap {
   border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0 1px 8px 0 rgba(0,0,0,0.15);
}
.hm-co-opt .card-wrap h5 {
  color: #0E0E0E;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
}
.hm-co-opt .card-wrap p {
  color: #0E0E0E;
  font-size: 14px;
  letter-spacing: 0;
}
.hm-co-opt .card-wrap span {
  opacity: 0.5;
  color: #0E0E0E;
  font-size: 14px;
  letter-spacing: 0;
}
.our-membership {
  background-color: #BFE8DB;
  padding: 80px 0;
}
.our-membership h4 {
   opacity: 0.8;
  color: #0E0E0E;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0;
}
.our-membership p {
  opacity: 0.8;
  color: #0E0E0E;
  font-size: 14px;
  letter-spacing: 0px;
}
.why-gf-rod {
  padding: 70px 0;
}
.why-gf-rod h4 {
  opacity: 0.8;
  color: #0E0E0E;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0;
}
.why-gf-rod p {
   color: #3F3F3F;
  font-size: 14px;
  letter-spacing: 0;
}
.why-gf-rod h5 {
  color: #3F3F3F;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
}
.plans-and-pricing {
  background-color: #F7F7F7;
  padding: 70px 0;
}
.plans-and-pricing h4{
  opacity: 0.8;
  color: #0E0E0E;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0;
}
.plans-and-pricing .price-box {
  border-radius: 3px;
  background-color: #FFFFFF;
  box-shadow: 0 0 12px 0 rgba(0,0,0,0.11);
  transition: all .3s ease-in-out 0s;
  border: 1px solid transparent;
}

.plans-and-pricing .price-box h5 {
   color: #000000;
  font-size: 21px;
  font-weight: bold;
  letter-spacing: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}
.plans-and-pricing .price-box p{
  color: #737373;
  font-size: 16px;
  letter-spacing: 0;
}
.plans-and-pricing .price-box h3 {
  color: #000000;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0;
  margin-bottom: 0px;
}
.plans-and-pricing .price-box button {
  width: 100%;
  border: 1px solid #E4002B;
  border-radius: 0 0 3px 3px;
  background-color: #E4002B;
  box-shadow: 0 0 12px 0 rgba(0,0,0,0.11);
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
  padding: 15px;
  display: none;
}
.plans-and-pricing .price-box:hover button {
  display: block;
}
.plans-and-pricing .price-box:hover {
   border: 1px solid #E4032B;
}
.stories-revlo {
  padding: 80px 0;
}
.stories-revlo h4 {
  opacity: 0.8;
  color: #0E0E0E;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0;
}
.stories-revlo a {
  color: #E4002B;
  font-size: 14px;
  letter-spacing: 0;
  text-decoration: underline!important;
}
.stories-revlo .card-block {
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0 1px 8px 0 rgba(0,0,0,0.15);
}
.stories-revlo .card-block p {
   color: #0E0E0E;
  font-size: 14px;
  letter-spacing: 0;
}
.insta-feed {
  background-color: #F7F7F7;
  padding:70px;
}
.insta-feed h4 {
  opacity: 0.8;
  color: #0E0E0E;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0;
}
.contct-new-lp {
  padding: 70px 0;
}
.contct-new-lp h4 {
  opacity: 0.8;
  color: #0E0E0E;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0;
}
.contct-new-lp p{
  color: #3F3F3F;
  font-size: 18px;
  letter-spacing: -.5px;
  line-height: 31px;
}
.contct-new-lp form input, .contct-new-lp form textarea {
  border: 1px solid #D3D3D3;
  width: 100%;
  padding: 8px;
}