@font-face {
    font-family: 'TT Commons';
    src: url('TTCommons-Regular.woff2') format('woff2'),
        url('TTCommons-Regular.woff') format('woff'),
        url('TTCommons-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Commons';
    src: url('TTCommons-ExtraLight.woff2') format('woff2'),
        url('TTCommons-ExtraLight.woff') format('woff'),
        url('TTCommons-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'TT Commons';
    src: url('TTCommons-ExtraBold.woff2') format('woff2'),
        url('TTCommons-ExtraBold.woff') format('woff'),
        url('TTCommons-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'TT Commons';
    src: url('TTCommons-Bold.woff2') format('woff2'),
        url('TTCommons-Bold.woff') format('woff'),
        url('TTCommons-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Commons';
    src: url('TTCommons-Black.woff2') format('woff2'),
        url('TTCommons-Black.woff') format('woff'),
        url('TTCommons-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'TT Commons';
    src: url('TTCommons-Light.woff2') format('woff2'),
        url('TTCommons-Light.woff') format('woff'),
        url('TTCommons-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TT Commons';
    src: url('TTCommons-Thin.woff2') format('woff2'),
        url('TTCommons-Thin.woff') format('woff'),
        url('TTCommons-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'TT Commons';
    src: url('TTCommons-Medium.woff2') format('woff2'),
        url('TTCommons-Medium.woff') format('woff'),
        url('TTCommons-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Commons';
    src: url('TTCommons-DemiBold.woff2') format('woff2'),
        url('TTCommons-DemiBold.woff') format('woff'),
        url('TTCommons-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

